.joe__article-hero {
  position: relative;
  width: 100%;
  max-width: 1800px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  background-color: $blue-darkest;
  background: linear-gradient(top, $blue-darker 0%, $white 100%);
  z-index: -1;
  margin-bottom: -200px;
  
  @include breakpoint($bp-xs) {
    height: 500px;
    margin-bottom: -250px;
  }
  
  @include breakpoint($bp-small) {
    height: 600px;
    margin-bottom: -300px;
  }
  
  @include breakpoint($bp-med) {
    height: 700px;
    margin-bottom: -350px;
  }
  
  @include breakpoint($bp-large) {
    height: 800px;
    margin-bottom: -400px;
  }
}

.joe__article-hero--no-image {
  height: 400px;
  margin-bottom: -375px;
  max-width: none;
  
  @include breakpoint($bp-med) {
    height: 800px;
    margin-bottom: -725px;
  }
}

.joe__article-hero__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1800px;
  height: 50%;
  margin: 0 auto;
  z-index: 0;
  background: linear-gradient(rgba($white, 0%) 0%, $white 100%);
  
  .joe__article-hero--no-image & {
    max-width: none;
  }
}

// Image classes for heroes
// Can be custom per article

.joe__article-hero__1 {
  background: url('../images/article-hero-placeholder.png');
}

.joe__article-hero__2 {
  background: url('../images/ecas1-1.jpg');
}

.joe__article-hero__3 {
  background: url('../images/nlit1-1.jpg');
}

.joe__article-hero__4 {
  background: url('../images/peer3-1.jpg');
}

.joe__article-hero__5 {
  background: url('../images/v2/artwork-1.jpg');
}

.joe__article-hero__6 {
  background: url('../images/v2/artwork-2.jpg');
}

.joe__article-hero__7 {
  background: url('../images/v2/artwork-3.jpg');
}

.joe__article-hero__8 {
  background: url('../images/v2/artwork-4.jpg');
}

.joe__article-hero__9 {
  background: url('../images/v2/artwork-5.jpg');
}

.joe__article-hero__10 {
  background: url('../images/v2/artwork-6.jpg');
}

.joe__article-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
