%joe__button,
.joe__button,
button {
  @include type($font-serif, .9em, $font-weight-bold, 1.25);
  display: inline-block;
  background-color: $blue-darker;
  background: linear-gradient(120deg, $blue-darker 0%, $blue-darkest 100%);
  color: $white;
  letter-spacing: .075em;
  text-transform: uppercase;
  border: 0;
  border-radius: 50px;
  padding: 8px 22px;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
    border-bottom: 0;
  }

  &:active,
  &:hover,
  &:focus {
    background-color: $blue-darker;
    background: linear-gradient(120deg, $pink 0%, $orange-darker 100%);
    transition: all .5s ease;
    text-decoration: none;
    border-bottom: 0;
  }
}

%joe__button--small,
.joe__button--small {
  @include type($font-serif, .75em, $font-weight-bold, 1.25);
  padding: 8px 18px;
}

%joe__button--tool,
.joe__button--tool {
  @extend %joe__button;
  @include type($font-serif, .65em, $font-weight-bold, 1.25);
  background-color: $orange-darker;
  background: linear-gradient($orange-darker 0%, $pink 100%);
  border-radius: 0;
  padding: 6px 8px;
  text-transform: none;
  letter-spacing: 0;
  
  &:active,
  &:hover,
  &:focus {
    background-color: $blue-darker;
    background: linear-gradient($blue-darker 0%, $blue-darkest 100%);
    text-decoration: none;
    border-bottom: 0;
  }
}
