.joe__flag {
  @include type($font-serif, .65em, $font-weight-medium, 1.25);
  display: inline-block;
  position: relative;
  left: 0;
  top: -6px;
  padding: 4px 6px 4px 6px;
  color: $white;
  background-color: $blue-darkest;
  text-transform: uppercase;
  letter-spacing: .075em;
}

.joe__flag--larger {
  @include type($font-serif, .75em, $font-weight-medium, 1.25);
  padding: 6px 9px;
  
  @include breakpoint($bp-med) {
    padding: 6px 9px;

  }
}

.joe__flag--red {
  background-color: $orange-darker;
}

.joe__flag--green {
  background-color: $green-darker;
}

.joe__flag--gray {
  background-color: $black-05;
}
