// Sets up the base font styles for headings, mobile first scaling up
h1,
.joe__h1,
%joe__h1 {
  // Mobile (default)
  @include type($font-serif, 2em, $font-weight-bold, 1.25);
  margin-bottom: 6px;
  margin-top: 2em;
}

h2,
.joe__h2,
%joe__h2 {
  // Mobile (default)
  @include type($font-serif, 1.5em, $font-weight-bold, 1.25);
  margin-bottom: 6px;
  margin-top: 1.5em;
}

h3,
.joe__h3,
%joe__h3 {
  // Mobile (default)
  @include type($font-serif, 1.35em, $font-weight-bold, 1.28);
  margin-bottom: 6px;
  margin-top: 1.25em;
}

h4,
.joe__h4,
%joe__h4 {
  // Mobile (default)
  @include type($font-serif, 1.2em, $font-weight-bold, 1.3);
  margin-bottom: 6px;
  margin-top: 1em;
}

h5,
.joe__h5,
%joe__h5 {
  // Mobile (default)
  @include type($font-sans-serif, 1.05em, $font-weight-bold, 1.2);
  margin-bottom: 6px;
  margin-top: 1em;
}

h6,
.joe__h6,
%joe__h6 {
  // Mobile (default)
  @include type($font-sans-serif, 1em, $font-weight-bold, 1.25);
  margin-bottom: 6px;
  margin-top: .75em;
}

// Heading styles for all `vc-*` pages
:root[class*='vc-'] {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-sans-serif;
    font-weight: 700;
    line-height: 1.15;
    margin-block: 3rem 1.38rem;
  }

  h1 {
    // Using clamp calculator to generate these values
    // https://royalfig.github.io/fluid-typography-calculator/
    font-size: clamp(2.75rem, 1.696rem + 4.680vw, 5.5rem);
  }

  h2 {
    font-size: clamp(2rem, 1.444rem + 2.468vw, 3.45rem);
  }

  h3 {
    font-size: clamp(1.75rem, 1.462rem + 1.276vw, 2.5rem);
  }

  h4 {
    font-size: clamp(1.5rem, 1.308rem + 0.851vw, 2rem);
  }

  h5 {
    font-size: clamp(1.25rem, 1.077rem + 0.765vw, 1.7rem);
  }

  h6 {
    font-size: 1em;
  }
}

// `vc-gallery` overrides
:root.vc-gallery {
  h1 {
    font-family: $font-serif;
    font-weight: 800;
    font-size: clamp(2.75rem, 1.122rem + 7.234vw, 7rem);
  }
}
