/* Links */
a,
%joe__link,
.joe__link {
  color: $blue-darkest;
  text-decoration: none;
  outline: 0;
  text-decoration: none;
  transition: all .3s ease;

  &:hover,
  &:focus {
    color: $navy;
    text-decoration: underline;
  }
  
  .joe__article p & {
    text-decoration: underline;
    color: $navy;

    &:hover,
    &:focus {
      color: black;
    }
  }
}

%joe__link--black,
.joe__link--black {
  @extend %joe__link;
  color: $black-90;
  
  &:hover,
  &:focus {
    color: $blue-darkest;
  }
} 

%joe__link--reversed,
.joe__link--reversed {
  @extend %joe__link;
  color: $white;
  
  &:hover,
  &:focus {
    color: $white;
  }
} 

%joe__link--bold,
.joe__link--bold {
  @include type($font-serif, .8em, $font-weight-bold, 1.35);
  text-transform: uppercase;
}
