/* Links */
a,
%joe__link,
.joe__link {
  color: $blue-darker;
  text-decoration: none;
  outline: 0;
  text-decoration: underline;
  transition: all .3s ease;

  &:hover,
  &:focus {
    color: $orange-darkest;
  }
}

%joe__link--black,
.joe__link--black {
  @extend %joe__link;
  color: $black-90;
  
  &:hover,
  &:focus {
    color: $blue-darker;
  }
} 
