%joe__list,
.joe__list {
  list-style: none;
  margin: 0.5em 0;
  padding: 0;
  
  li {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid $black-05;
  }
}

.joe__list--issue {
  @extend %joe__list;
  margin: .5em auto;
  max-width: 1000px;
}
