.joe__table,
table {
  margin: 1.5em 0;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: normal;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-overflow-scrolling: touch;
  background: radial-gradient(ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) -1% center,
              radial-gradient(ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 101% center;
  background-size: 15px 100%, 15px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
  
  @include breakpoint($bp-large) {
    white-space: normal;
  }
  
  caption{
    text-align: left;
    padding: 0px 12px;
  }

  // change these gradients from white to your background colour if it differs
  // gradient on the first cells to hide the left shadow
  td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 100%;
  }

  // gradient on the last cells to hide the right shadow
  td:last-child{
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
  }

  th {
    @include type($font-serif, .8em, $font-weight-bold, 1.35);
    background: $navy-lighter;
    color: $white;
    text-align: left;
  }

  th,
  td {
    padding: 8px 12px;
    border: 1px solid $black-20;
    max-width: 80vw;
  }
  
  td {
    @extend %joe__type--smaller;
  }
}


