.joe__table,
table {
  margin: 1.5em 0;
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  overflow-x: auto;
  white-space: normal;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-overflow-scrolling: touch;
  
  @include breakpoint($bp-large) {
    white-space: normal;
  }
  
  caption{
    text-align: left;
    padding: 0px 12px;
  }

  th {
    @include type($font-serif, .8em, $font-weight-bold, 1.35);
    background: $navy-lighter;
    color: $white;
    text-align: left;
  }

  th,
  td {
    padding: 8px 12px;
    border: 1px solid $black-20;
    max-width: 80vw;
  }
  
  td {
    @extend %joe__type--smaller;
  }
}
