%joe__title-label,
.joe__title-label {
  @include type($font-serif, .7em, $font-weight-bold, 1.25);
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 5px;
}

:root[class*='vc-'] {

  .joe__author-information,
  .joe__references,
  .joe__article-issue-footer {
    .joe__title-label {
      @include type($font-serif, 0.9em, $font-weight-medium, 1.25);
      display: inline-block;
      background-color: var(--c-footer-text);
      color: var(--c-footer-bg);
      padding: 2rem 2rem 1rem;
      margin-block-start: 0;
    }
  }
}
