// Parameters
// $type => "secondary", ""
//

@mixin ama-button ($size:"", $style:"") {
  @include ama-button-base;
  // layout
  @include type($font-sans-serif, 100%, $base-font-weight, 1);
  padding: 20px 40px;

  @if($style == "secondary") {
    background-color: transparent;
    border-color: $blue;
    color: $blue;

    &:hover {
      background-color: $blue-darker;
      color: $white;
    }
  } //outline
  @else {
    background-color: $red;
    border-color: transparent;
    color: $white;

    &:hover {
      background-color: $red-darker;
    }
  }
}
