<div class="vc-reaction-bar">
  <div class="vc-reaction-bar__actions {% if reaction.question %}vc-reaction-bar__actions--has-question{% endif %}">
    {% if reaction.question %}
      <span class="vc-reaction-bar__question">{{ reaction.question }}</span>
    {% endif %}
    <div class="vc-reaction-bar__emojis">
      <button aria-expanded="false" class="vc-reaction-bar__emojis-button" type="button">
        <span class="visually-hidden">Add Reaction</span>
        {% include "@base/icons/icon-reaction-button.svg" %}
      </button>
      <div class="vc-reaction-bar__emojis-dropdown" hidden>
        {% for icon in emoji %}
          <span class="vc-reaction-bar__emojis-icon" role="button">
            {{ icon }}
          </span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% if reaction.total %}
    <div class="vc-reaction-bar__total">
      <div class="vc-reaction-bar__emojis-selected">
        {% for item in reaction.selected %}
          {{ emoji[item] }}
        {% endfor %}
      </div>
      <span class="vc-reaction-bar__total-label">{{ reaction.total }}
      Reaction{% if reaction.total > 1 %}s{% endif %}</span>
    </div>
  {% endif %}
</div>
