<section class="joe__cta-band">
  <div class="container">

    <ul class="joe__cta-band__list">
    {% for cta in ctas %}
      {% if cta.form == true %}
        {% set rail_form = cta %}
        <li>{% include '@molecules/rail-form.twig' %}</li>
      {% else %}
        {% set rail_cta = cta %}
        <li>{% include '@molecules/rail-cta.twig' %}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</section>
