<header class="vc-hero-gallery">
  <div class="vc-container--tight">
    <div class="vc-hero-gallery__flag">
      <span class="vc-hero-gallery__flag-type">Art Exhibition</span>
    </div>
    <div class="vc-hero-gallery__content">
      <div class="vc-hero-gallery__content-body">
        <h1 class="vc-hero-gallery__title {% if hero.has_mask == true %}vc-hero-gallery__title--masked{% endif %}">{{ hero.page_title }}</h1>
        <div class="vc-hero-gallery__desc">{{ hero.description|raw }}</div>
      </div>
    </div>
  </div>
  <div class="vc-hero-gallery__nav vc-gallery__items">
    {% for item in hero.gallery_nav %}
      <a class="vc-hero-gallery__anchor" href="{{ item.href }}">
        {% set image = item.image %}
        {% include "@atoms/image.twig" %}
        <h2 class="vc-hero-gallery__anchor-label">{{ item.title }}</h2>
      </a>
    {% endfor %}
  </div>
  <div class="vc-hero-gallery__nav-controls vc-gallery__controls">
    <button type="button" class="slick-prev">
      <span class="visually-hidden">Previous</span>
      {% include "@base/icons/icon-gallery-arrow--prev.svg" %}
    </button>
    <span class="vc-hero-gallery__nav-label">Exhibition Galleries</span>
    <button type="button" class="slick-next">
      <span class="visually-hidden">Next</span>
      {% include "@base/icons/icon-gallery-arrow--next.svg" %}
    </button>
  </div>
</header>
