<aside class="joe__rail-cta {% if rail_cta.secondary == true %}joe__rail-cta--secondary{% endif %}">
  {% set heading = rail_cta.heading %}
  [01-atoms]-[heading]
  <div class="joe__rail-cta__text">
    {% set paragraph = rail_cta.paragraph %}
    [01-atoms]-[paragraph]
  </div>
  {% set button = rail_cta.button %}
  [01-atoms]-[button]
</aside>
