<div class="vc-card">
  {% set image = card.image %}
  {% if card.image.src %}
    <div class="vc-card__image">
      {% include "@atoms/image.twig" %}
    </div>
  {% endif %}
  <h3 class="vc-card__title">{{ card.title }}</h3>
  <div class="vc-card__desc">
    {{ card.description|raw }}
  </div>
  <a class="vc-card__link" href="{{ card.href }}">{{ card.link }}</a>
</div>
