<header class="joe__article-header">
  {% set flag = article_flag %}
  {% include "@atoms/flag.twig" %}
  {% if peer_reviewed %}
    <span class="joe__article-header__reviewed">Peer-Reviewed</span>
  {% endif %}
  <h2 class="joe__article-header__title">{{ article_title }}</h2>
  {% if article_authors %}
  <div class="joe__article-header__meta">
    {% set authors = article_authors %}
    {% include "@atoms/authors.twig" %}
  </div>
  {% endif %}
</header>
