<figure class="joe__inline-image {% if inline_image.alignment %}joe__inline-image--{{inline_image.alignment }}{% endif %}">
  
  {% set image = inline_image.image %}
  {% include "@atoms/image.twig" %}
  
  <button class="joe__inline-image__zoom">
    {% include "@atoms/icon.twig" with {'icon' : {'symbol': 'zoom', 'text': 'Zoom in on image'}} %}
  </button>
  
  {% if inline_image.caption %}
  <figcaption class="joe__inline-caption">
    {{ inline_image.caption }}
  </figcaption>
  {% endif %}
</figure>
