<aside class="joe__rail-cta {% if rail_cta.secondary == true %}joe__rail-cta--secondary{% endif %}">
  {% set heading = rail_cta.heading %}
  {% include "heading.twig" %}
  <div class="joe__rail-cta__text">
    {% set paragraph = rail_cta.paragraph %}
    {% include "paragraph.twig" %}
  </div>
  {% set button = rail_cta.button %}
  {% include "button.twig" %}
</aside>
