<form class="joe__search-bar">
  <label class="visually-hidden">Site Search</label>
  {% include "@atoms/input.twig" %}
  <label class="visually-hidden">Sort Search</label>
  {% include "@atoms/select.twig" %}
  <input type="submit" name="site-search-submit" value="Search"/>
</form>

