<div class="joe__tool-drawer">
  <div id="{{ tool_drawer.id }}" class="joe__tool-drawer__content">
   {{ tool_drawer.content }} 
  </div>
  {% set button = tool_drawer.button %}
  {% include "@atoms/button.twig" %}
</div>
