<div class="joe__wordmark">
  <a href="">
    <div class="joe__wordmark__title">{{ wordmark.title }}{% if wordmark.tm %}<sup>&reg;</sup>{% endif %}</div>
    <div class="joe__wordmark__subtitle">{{ wordmark.subtitle }}</div>
  </a>
</div>
