<div class="joe__wordmark">
  <h1 class="joe__wordmark__title">{{ wordmark.title }}{% if wordmark.tm %}<sup>&trade;</sup>{% endif %}</h1>
  <h2 class="joe__wordmark__subtitle">{{ wordmark.subtitle }}</h2>
</div>
