
<!--DO NOT REMOVE-->
{{ patternLabFoot | raw }}

{# Scripts #}
<script src="../../assets/js/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-multiselect-widget/3.0.0/jquery.multiselect.min.js"></script>
<script src="../../assets/js/drupal-attach-behaviors.js"></script>
<script src="../../assets/js/jquery.validate.js"></script>
<script src="../../assets/js/nav.js"></script>
<script src="../../assets/js/tool-drawer.js"></script>
<script src="../../assets/js/chosen.jquery.min.js"></script>
<script src="../../assets/js/filters.js"></script>
<script src="../../assets/js/form-items.js"></script>
<script src="../../assets/js/sticky-share.js"></script>
<script src="../../assets/js/issueFilters.js"></script>
<script src="../../assets/js/poll-reveal.js"></script>
<script src="../../assets/js/lightbox.js"></script>
<script src="../../assets/js/resource-tooltips.js"></script>
{# Modernizr #}
{# Contains: cssgrid, css animations, flexbox #}
<script src="../../assets/js/modernizr-custom.js"></script>

</body>

</html>
