
<!--DO NOT REMOVE-->
{{ patternLabFoot | raw }}

{# Scripts #}
<script src="../../assets/js/jquery-3.2.1.js"></script>
<script src="../../assets/js/drupal-attach-behaviors.js"></script>
<script src="../../assets/js/jquery.validate.js"></script>
<script src="../../assets/js/nav.js"></script>
<script src="../../assets/js/tool-drawer.js"></script>
<script src="../../assets/js/chosen.jquery.min.js"></script>
<script src="../../assets/js/filters.js"></script>
{# Modernizr #}
{# Contains: cssgrid #}
<script src="../../assets/js/modernizr-custom.js"></script>

</body>

</html>

