<section class="joe__article-issue-footer">
  <div class="vc-container">
    {% include "@atoms/title-label.twig" with { "title_label": {"level" : "3", "text" : "You Might Also Like" } } %}
    <div class="joe__layout--two-column joe__article-issue-footer__block">
      <div class="joe__col-one--med">
        {% for article in issue.articles|slice(0,2) %}
          {% set teaser = article %}
          {% include '@molecules/article-teaser.twig' %}
        {% endfor %}
      </div>
      <div class="joe__col-two--med">
        {% for article in issue.articles|slice(2,2) %}
          {% set teaser = article %}
          {% include '@molecules/article-teaser.twig' %}
        {% endfor %}
      </div>
    </div>
    {% include "@atoms/link.twig" with { "link": {"text" : "View Full Issue", "href" : "#", 'class': 'joe__link--reversed' } } %}
  </div>
</section>
