@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes topDown {
  from {
    height: 0;
  }

  to {
    height: 100vh;
  }
}

@keyframes bottomUp {
  from {
    height: 100vh;
  }

  to {
    height: 0;
  }
}

@keyframes dropdownOpen {
  from {
    transform: translateY(-1rem);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes dropdownClose {
  from {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translateY(-30vh);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes heroFadeIn {
  0% {
    opacity: 1;
    transform: translateY(-5rem) scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1.15);
  }
}

@keyframes sectionFadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes sectionFadeInAlt {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
