@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes topDown {
  from {
    height: 0;
  }

  to {
    height: 100vh;
  }
}

@keyframes bottomUp {
  from {
    height: 100vh;
  }

  to {
    height: 0;
  }
}

@keyframes dropdownOpen {
  from {
    transform: translateY(-1rem);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes dropdownClose {
  from {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  to {
    transform: translateY(-30vh);
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes heroFadeIn {
  0% {
    opacity: 1;
    transform: translateY(-5rem) scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1.15);
  }
}

@keyframes sectionFadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes sectionFadeInAlt {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes verticalPulse {
  0% {
    transform: rotate(-90deg) translate(0, -50%);
  }

  50% {
    transform: rotate(-90deg) translate(-1rem, -50%);
  }

  100% {
    transform: rotate(-90deg) translate(0, -50%);
  }
}

@keyframes audioWaveFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes audioWave1 {
  0% {
    height: 1.5rem;
  }

  25% {
    height: 2rem;
  }

  50% {
    height: 1rem;
  }

  75% {
    height: 2rem;
  }

  100% {
    height: 1.5rem;
  }
}

@keyframes audioWave2 {
  0% {
    height: 1rem;
  }

  25% {
    height: 1.25rem;
  }

  50% {
    height: 0.5rem;
  }

  75% {
    height: 1.25rem;
  }

  100% {
    height: 1rem;
  }
}
