$navy: #1f1f52;
$navy-lighter: #3f3f6d;
$blue-darkest: #29688a;
$blue-darker: #06847F;
$blue: #099995;
$blue-lighter: #66bfa4;
$orange: #ed6923;
$orange-darker: #CE4A22;
$orange-lighter: #ea8575;
$red: #e41e26;
$red-darker: #a41e22;
$red-lighter: #f04d50;
$pink: #e01a53;
$gold: #f2ce5a;
$green: #b8d546;
$green-darker: #298555;
$black: #000000;
$black-90: #414042;
$black-80: #58595b;
$black-20: #d1d3d4;
$black-10: #E5E5E5;
$black-05: #f1f1f1;
$white: #ffffff;

// Art of Medicine `vc-art` variables - Dark mode `Default`
:root.vc-art {
  --c-bg: #fff;
  --c-text: #414042;
  --c-link: var(--c-text);
  --c-hero-bg: var(--c-text);
  --c-hero-text: var(--c-bg);
  --c-hero-title: var(--c-hero-text);
  --c-button-bg: #06847F;
  --c-button-bg-hover: #CE4A22;
  --c-button-text: var(--c-bg);
  --c-footer-bg: var(--c-text);
  --c-footer-label-bg: var(--c-bg);
  --c-footer-label-text: var(--c-text);
  --c-footer-text: var(--c-bg);
  --c-footer-link: var(--c-bg);
}

// Ethics Close Up `vc-ethics` variables - Dark mode `Default`
:root.vc-ethics,
:root.vc-ethics[data-theme='dark'] {
  --c-bg-rgb: 36, 40, 45;
  --c-bg: rgb(var(--c-bg-rgb));
  --c-text: #fff;
  --c-link: var(--c-text);
  --c-button-bg: #191B1D;
  --c-button-bg-hover: #0f1011;
  --c-button-text: var(--c-text);
  --c-footer-bg: var(--c-text);
  --c-footer-label-bg: #2B2C33;
  --c-footer-label-text: var(--c-text);
  --c-footer-text: var(--c-bg);
  --c-footer-link: var(--c-bg);
}

// Ethics Close Up `vc-ethics` variables - Light mode
:root.vc-ethics[data-theme='light'] {
  --c-bg-rgb: 236, 236, 236;
  --c-bg: rgb(var(--c-bg-rgb));
  --c-text: #171A1D;
  --c-link: var(--c-text);
  --c-button-bg: #fff;
  --c-button-bg-hover: #ddd;
  --c-button-text: var(--c-text);
  --c-footer-bg: var(--c-text);
  --c-footer-label-bg: #fff;
  --c-footer-label-text: var(--c-text);
  --c-footer-text: var(--c-bg);
  --c-footer-link: var(--c-bg);
}

// Gallery `vc-gallery` variables - Dark mode `Default`
:root.vc-gallery,
:root.vc-gallery[data-theme='dark'] {
  --c-bg: #1D1E23;
  --c-text: #fff;
  --c-link: var(--c-text);
  --c-button-bg: var(--c-text);
  --c-button-bg-hover: #ECECEC;
  --c-button-text: var(--c-bg);
  --c-footer-bg: var(--c-text);
  --c-footer-label-bg: #2B2C33;
  --c-footer-label-text: var(--c-text);
  --c-footer-text: var(--c-bg);
  --c-footer-link: var(--c-bg);
}

// Gallery `vc-gallery` variables - Light mode
:root.vc-gallery[data-theme='light'] {
  --c-bg: #ECECEC;
  --c-text: #171A1D;
  --c-link: var(--c-text);
  --c-button-bg: var(--c-text);
  --c-button-bg-hover: #0f1113;
  --c-button-text: #fff;
  --c-footer-bg: var(--c-text);
  --c-footer-label-bg: #fff;
  --c-footer-label-text: var(--c-text);
  --c-footer-text: var(--c-bg);
  --c-footer-link: var(--c-bg);
}
