$blue-gradient: linear-gradient(45deg, $navy-lighter 0%, $blue-darkest 100%);
$orange-gradient: linear-gradient(45deg, $pink 0%, $orange-darker 100%);
$gold-gradient: linear-gradient(45deg, $gold 0%, $orange-lighter 100%);
$white-gradient: linear-gradient(rgba($white, 0%) 0%, $white 100%);
$shadow: 0 0 5px rgba($black-90, .25);
$shadow-lighter: 0 0px 3px rgba($black-20, .25);
