// =============================================================================
// Visibility Helpers
//
// This mixin allows you to visually hide something but keep it accessible via
// a screen reader for accessibility purposes.
//
// Element-invisible as defined by snook.ca
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
// =============================================================================

.visually-hidden,
%visually-hidden,
.element-invisible,
%element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
.visually-hidden-off,
%visually-hidden-off,
.element-invisible-off,
%element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}
