%clearfix,
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  @include gutter($padding-right-half...);
  @include gutter($padding-left-half...);
  
  @include breakpoint($bp-med) {
    @include gutter($padding-right-full...);
    @include gutter($padding-left-full...);
  }
}

