article[dir='rtl'] {
  text-align: left;
  direction: ltr;
  
  .joe__article-header {
    .joe__article-header__title {
      text-align: right;
      direction: rtl;
    }
  }

  .joe__page-content.joe__article {
    text-align: right;
    direction: rtl;
  }

  footer.joe__article-footer {
    text-align: left;
    direction: ltr;
  }

  h3.joe__title-label {
    text-align: left;
  }

  /* Ensure references flow from right to left */
  sup,
  .superscript-reference {
    direction: rtl;
    unicode-bidi: bidi-override; /* For better browser compatibility */
  }

  .joe__references__list {
    text-align: left;
    direction: ltr;
  }

  .article_abstract {
    > h2 {
      text-align: left;
    }
    p:first-of-type:not([dir="rtl"]) {
      text-align: left;
    }
  }

  .joe__tags {
    text-align: left;
    direction: ltr;
  }

}
