.joe__article--top {
  background-color: rgba($white, .9);
  background: linear-gradient(rgba($white, .75) 0%, $white 100%);
  position: relative;
  padding-top: 1em;
  
  // create shadow corner effect
  &:before {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    left: -6px;
    z-index: -1;
    display: block;
    background: url('../images/background-gradient.png');
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 450px;
    max-height: 600px;
  }
  
  @include breakpoint($bp-med) {
    padding-top: 1.5em;
  }
}

.joe__article--bottom {
  @include gutter($margin-bottom-full...);
  background-color: $white;
}
