.joe__article--top {
  background-color: rgba($white, .9);
  background: linear-gradient(rgba($white, .75) 0%, $white 100%);
  position: relative;
  padding-top: 1em;

  // create shadow corner effect
  &:before {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    left: -6px;
    z-index: -1;
    display: block;
    background: url('../images/background-gradient.png');
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 450px;
    max-height: 600px;
  }

  @include breakpoint($bp-med) {
    padding-top: 1.5em;
  }
}


.joe__featured-listing--block {
  background-color: rgba($navy, .9);
  background: linear-gradient(rgba($navy, .8) 0%, $navy 100%);
  position: relative;
  padding: 1em;
  margin-bottom: 2em;
  grid-row: 2;
  @include breakpoint($bp-med) {
    margin-right: 1em;
  }

  .joe__topics__label {
    color: $white;
    margin-bottom: 2em;
    @include breakpoint($bp-med) {
      font-size: clamp(1.1rem, 1.2rem + 0.765vw, 1.3rem);
    }
  }

  .joe__featured-listing-rows,
  .joe__article-teaser__title a:link, .joe__article-teaser__title a:visited {
    color: $white;
  }

  .joe__featured-listing-rows {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    @include breakpoint($bp-med) {
      grid-template-columns: repeat(2, 1fr);
    }

    .views-row:nth-child(3),
    .views-row:nth-child(4) {
      @include breakpoint($bp-med) {
        grid-row-start: 2;
      }
    }
  }

  .joe__flag {
    background-color: $gold;
    background: $gold;
    color: $navy;
    .joe__flag__type {
      color: $navy;
    }
  }
}


.joe__article {
  padding-top: 1px;
}

.joe__article--bottom {
  @include gutter($margin-bottom-full...);
  background-color: $white;
}

.available__in {
  display: flex;
  align-items: center;
  min-height: 25px;
  margin: 1em 0 0.5em 0;
  .joe__tags-title {
    font-family: $franklin-gothic;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.35;
    margin: 0 0.4em 0 0;
    padding: 0;
    height: 21px;
  }
  .joe__tags-list {
    height: 21px;
    overflow: hidden;
  }
  .joe__tags-list li {
    border-bottom: 0;
    display: inline-block;
    height: 21px;
    margin: 0;
    padding: 0;
    > a:link,
    > a {
      font-size: 1em;
      font-family: $franklin-gothic;
      margin: 0;
      padding: 0;
      letter-spacing: 0;
      display: block;
      height: 21px;
      border-bottom: 2px solid $orange-darker;
    }
  }
}
