/* Gallery Header */
.user-logged-in {
  .gallery-header,
  .joe__sticky-gallery-header.gallery-header {
    top:111px;
  }
}
.gallery-header {
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: all .25s ease-in;
  padding: 10px 15px;
  background-color: rgba($white, 0.85);
  @include breakpoint($bp-med) {
    padding: 20px 15px;
  }
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  .joe__wordmark {
    margin: 0 15px;
    display: inline-block;
    .joe__wordmark__title {
      margin-top: 0;
    }
    .joe__wordmark__subtitle {
      margin-bottom: 0;
    }
  }

  &.joe__sticky-gallery-header {
    .joe__wordmark {
      font-size: 70%;
      transition: all .25s ease-in;
      margin-bottom: 0;
      margin-top: 0;
    }
    .joe__menu-trigger {
      margin-top: 5px;
      transition: margin-top .4s ease;
      @include breakpoint($bp-med) {
        display: inline-block;
        visibility: visible;
      }
    }
  }
  .joe__menu-trigger {
    display: inline-block;
    background: transparent;
    visibility: visible;
    margin-top: 10px;
    transition: margin-top .4s ease;
    margin-right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    padding: 8px 5px;
    margin-left: auto;
    svg {
      fill: #333;
    }
    .icon-menu {
      svg {
        height: 25px;
        width: 25px;
      }
    }
    &:hover {
      svg {
        fill: $white;
      }
      background: #333;
    }
  }

  .joe__nav-drawer {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    max-height: 0;
    visibility: hidden;
    transition: max-height .5s ease-in, visibility 0s ease-in .5s, opacity .25s ease-in .25s;
    opacity: 0;
    background-color: $navy-lighter;
    box-shadow: $shadow;
    border-right: 1px solid $white;
    &.is-active {
      max-height: 80vh;
      visibility: visible;
      transition: max-height .5s ease-in, visibility 0s ease-in, opacity .25s ease-in .25s;
      opacity: 1;
    }
  }
  .joe__primary-nav {
    .joe__primary-nav__list {
      @include breakpoint($bp-med) {
        padding-right: 30px;
      }

      .joe__primary-nav__item {
        a,
        a:visited,
        a:link {
          color: $white;
          border-left: none;
        }
      }
    }
  }
  .joe__utility-nav {
    visibility: visible;
    @include breakpoint($bp-med) {
      visibility: hidden;
      width:auto;
      margin-top: 12px;
      margin-left: 15px;
    }
    @include breakpoint($bp-xl) {
      visibility: visible;
    }
  }
}

#fp-nav.fp-left {
  left: 0 !important;
}

/* Gallery Wrapper and Layout */

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  .image-wrapper {
    width: 100%;
    position: fixed;
    background: #0D0D0D url('../images/subtle-texture.png') top left;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:0;
    height: 100vh;
    @include breakpoint($bp-med) {
      width: 75%;
      position: sticky;
    }
    svg {
      width:350%;
      margin-left: -150%;
      height:100vh;
      position:relative;
      @include breakpoint($bp-med) {
        width: 100%;
        margin-left: 0;
      }
      foreignObject {
        position:absolute;
        overflow: visible;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }

  /* Primary scroll wrapper and sections */

  .text-column {
    opacity: 1;
  }
  .text-column {
    &.loading {
      .inner {
        opacity: 0;
        transition: opacity 1s ease;
      }
    }
    &.loaded {
      .inner {
        opacity: 1;
        transition: opacity 1s ease;
      }
    }
    z-index:99;
    padding: 0;
    color: $white;
    background-color: transparent;
    transition: background-color 1s ease;
    @include breakpoint($bp-med) {
      width: calc(25% - 56px);
      z-index:1;
      padding: 28px;
      background-color: #333;
      transition: background-color 1s ease;
    }
    .section {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;

      @include breakpoint($bp-med) {
        align-items: center;
        justify-content: center;
      }
      &.caption {
        .inner {
          transition: opacity 1s ease;
          opacity: 1;
          max-width: 100%;
          padding: 28px 28px 82px;
          color: $white;
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          background-color: rgba(0,0,0, 0.8);
          transition: background-color 1s ease;
          @include breakpoint($bp-med) {
            background-color: #333;
            transition: background-color 1s ease;
          }
          @include breakpoint($bp-med) {
            .title {
              margin-top: 200px;
            }
            .subheading {
              margin-bottom:110px;
            }
          }
          .title {
            margin-bottom: 10px;
            width:100%;
            margin-top: 30px;
            h1 {
              font-size: 2.8em;
              font-weight: 400;
            }
          }
          .subheading {
            margin-bottom: 50px;
            width: 100%;
          }
        }
      }

      /* Fullpage section */

      &.fullpage {
        display: block;
        background: #333;
        padding: 28px;
        color: $white;
        width: 100vw !important;
        @include breakpoint($bp-med) {
          margin: 0 -28px;
          padding: 120px 28px 28px 28px;
        }

        /* Fullpage row/columns */

        .content-row {
          display: flex;
          flex-direction: column;
          @include breakpoint($bp-med) {
            flex-direction: row;
          }
          .content-section {
            margin-right: 50px;
            @include breakpoint($bp-med) {
              padding-right: 0;
              width: 100%;
            }
            h2 {
              font-size: 110px;
              margin-top: 0;
              margin-bottom: 60px;
            }
            p {
              background: transparent;
            }
          }

          /* Fullpage with 3 columns */

          &.three {
            .content-section {
              margin-right: 3%;
              @include breakpoint($bp-med) {
                width: 30%;
              }
            }
          }

          /* Fullpage with 2 columns */

          &.two {
            .content-section {
              margin-right: 2%;
              @include breakpoint($bp-med) {
                width: 45%;
              }
            }
          }
        }
      }
      a {
        color: white;
        &:hover {
          color: #777;
        }
      }
    }
  }
}

/* HTML5 Audio Player */

audio.gallery-audio {
  opacity: 0;
  z-index: 999;
  width: 100%;
  transition: opacity 1s ease-out;
  @include breakpoint($bp-med) {
    width: 40%;
  }
  &.playing,
  &.paused {
    opacity:1;
    transition: opacity 1s ease-out;
    position:fixed;
    bottom:0;
    height: 40px;
    left: 0;
  }
}

/* Big Play/Pause button */
.play-container {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 20px 0 0;
  cursor: pointer;
  &.playing {
    &:after {
      background-image: url('../images/pause-button.svg');
    }
  }
  &.paused {
    &:after {
      background-image: url('../images/play-button.svg');
    }
  }
  &:after {
    width:100%;
    height:100%;
    position: absolute;
    content: "";
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
}

/* Scroll Down button animation loop */

@keyframes fade-in-out {
  0% {
    opacity: .5;
  }
  50% {
    opacity: .9;
  }
  100% {
    opacity: .5;
  }
}

@keyframes glow-fade {
  0% {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.05));
  }
  50% {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.2));
  }
  100% {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.05));
  }
}

/* Scroll Down Button */

a.scroll-down {
  animation: fade-in-out 4s ease-in-out infinite;

  margin: 20px auto 0;
  cursor: pointer;
  align-self: flex-end;
  text-align: center;
  text-decoration: none;
  display:block;
  color: $white;
  @include breakpoint($bp-med) {
    margin: 70px auto 0;
  }
  .icon {
    position: relative;
    height: 70px;
    width: 70px;
    display:block;

    &:after {
      background-image: url('../images/down-arrow.svg');
      width:100%;
      height:100%;
      position: absolute;
      content: "";
      background-size: 100% 100%;
      background-position: top left;
      left:0;
      background-repeat: no-repeat;
    }
  }
}

/* Back to Top Button */

.top {
  &.visible {
    opacity: 1;
    transition: opacity .75s ease;
  }
  &.player-offset {
    bottom: 40px;
  }
  opacity: 0;
  transition: opacity .75s ease;
  height:25px;
  background-color:$white;
  text-decoration: none;
  position:fixed;
  z-index: 9999;
  bottom:0;
  color: $black;
  left: 20px;
  padding: 0 20px 8px 25px;
  border-radius: 8px 8px 0 0;
  &:after {
    background-image: url('../images/up-arrow.svg');
    width: 15px;
    height: 15px;
    position: absolute;
    content: "";
    background-size: 100% 100%;
    background-position: top left;
    left:5px;
    bottom:8px;
    background-repeat: no-repeat;
  }
}
