.joe__sticky-gallery-header {
  padding-top:100px;
  .joe__wordmark {
    font-size: 70%;
    transition: all .25s ease-in;
    margin-bottom: 0;
    margin-top: 0;
  }
  &.gallery-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 8px 0;
    transition: all .25s ease-in;
    background-color: rgba($white, 0.85);
    padding: 5px 15px;
  }
}

.gallery-header {
  z-index: 2;
  position: relative;
  transition: all .25s ease-in;
  z-index: 11;
  padding: 0;
  background-color: rgba($white, 1);
  @include breakpoint($bp-small) {
    padding: 20px 15px;
  }
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  .joe__wordmark {
    margin: 0 15px;
    .joe__wordmark__title {
      margin-top: 0;
    }
    .joe__wordmark__subtitle {
      margin-bottom: 0;
    }
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  .image-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:0;
    height: 100vh;
    @include breakpoint($bp-med) {
      width: 60%;
      position: sticky;
      //top: 60px;
    }

    svg {
      background-color: #333;
      height:100%;
      width:100%;
    }
  }
  .text-column {
    padding: 28px;
    z-index:99;
    @include breakpoint($bp-med) {
      width: calc(40% - 56px);
      z-index:1;
    }
    .caption {
      p {
        background-color: $white;
        padding: 15px;
        @include breakpoint($bp-small) {
          padding: 0;
        }
      }
    }
  }
}
audio.gallery-audio {
  opacity: 0;
  z-index: 999;
  width: 100%;
  transition: opacity 1s ease-out;
  @include breakpoint($bp-med) {
    width: 40%;
  }
  &.played {
    opacity:1;
    transition: opacity 1s ease-out;
    position:fixed;
    bottom:0;
    height: 40px;
    left: 0;
  }
}

#fp-nav.fp-left {
  left: 0 !important;
}

.play-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  padding:18px;
  .play-ring {
    border-radius: 100%;
    padding: 10px;
    border: 3px solid black;
    width:90px;
    height:90px;
    position: relative;

    .play-triangle {
      position: relative;
      top: 33px;
      left: 20px;
      width: 0;
      height: 0;
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 50px solid black;
    }
  }
}

footer {
  height:400px;
  background: red;
}
