<a class="joe__flag {% if flag.class %}{{ flag.class }}{% endif %}"  href="{{ flag.issue_url }}">
  <div class="joe__flag__type">
    {{ flag.type }}
  </div>
  <div class="joe__flag__date">
    {{ flag.issue_date }}
  </div>
</a>
