{% include '@atoms/skip-nav.twig' %}

  {% block header %}
    {% set placeholder = offset_center.header.placeholder %}
    {% include '@base/placeholder.twig' %}
  {% endblock %}
  <main id="main-content" role="main">
    <div class="container">
      <article class="joe__layout--center-offset">
        {# Keeping tabindex for accessibility purposes #}
        <div class="joe__page-content joe__page--top" role="article">
          {% block pageContent_header %}
            {% set placeholder = offset_center.page_content_header.placeholder %}
            {% include '@base/placeholder.twig' %}
          {% endblock %}
        </div>
        <div class="joe__page-content joe__page--bottom" role="article">
          {% block pageContent %}
            {% set placeholder = offset_center.page_content.placeholder %}
            {% include '@base/placeholder.twig' %}
          {% endblock %}
        </div>
        
      </article>
    </div>
  </main>

  {% block footer %}
    {% set placeholder = offset_center.footer.placeholder %}
    {% include '@base/placeholder.twig' %}
  {% endblock %}
</div>
