<div class="vc-slide-rule">
  <div class="vc-slide-rule__slider beer-slider">
    {{ slide_rule.image_before|raw }}
    <div class="beer-reveal">
      {{ slide_rule.image_after|raw }}
    </div>
  </div>
  {% include "@molecules/vc-reaction-bar/vc-reaction-bar.twig" %}
  {% if slide_rule.caption %}
    <div class="vc-container--tight vc-slide-rule__container">
      <div class="vc-slide-rule__caption">
        {{ slide_rule.caption|raw }}
      </div>
    </div>
  {% endif %}
</div>
