<div class="joe__article-hero {% if article_hero.image_id %}joe__article-hero__{{ article_hero.image_id }}{% else %}joe__article-hero--no-image{% endif %}">
  <span class="joe__article-hero__overlay"></span>
</div>
