.joe__about-band {
  @extend %clearfix;
  padding: $gutter-mobile;
  
  @include breakpoint($bp-med) {
    padding: ($gutter * 2) 0;
  }
}

.joe__about__title {
  @extend %joe__h2;
  margin-top: .5em;
  max-width: 650px;
}

.joe__about__desc {
  margin-bottom: 1em;
  max-width: 650px;
}

.joe__about__themes {
  @include type($font-serif, 1em, $font-weight-bold, 1.35);
  list-style: none;
  margin: 1em 0 0;
  padding: 0;
  
  li {
    margin-bottom: .45em;
  }
}

.joe__about__themes__date {
  @extend %joe__type--smaller;
  display: block;
}
