.joe__article-footer {
  background-color: $black-05;
  padding: $gutter-mobile;
  margin: $gutter-mobile 0;
  
  @include breakpoint($bp-med) {
    padding: $gutter;
    margin: $gutter 0;
  }
}

.joe__article-footer--secondary {
  @extend %joe__type--smaller;
  border-top: 1px solid $black-80;
  margin-top: 2em;
  padding-top: 1em;
  
  .joe__title-label {
    @include type($font-serif, .875em, $font-weight-bold, 1.25);
  }
  
  small {
    display: block;
    margin-top: 20px;
    font-style: italic;
  }
}
