.joe__article-issue-footer {
  @include gutter($padding-top-full...);
  @include gutter($padding-bottom-full...);
  @include gutter($margin-top-full...);
  @extend %clearfix;
  background-color: $navy;
  text-align: center;
  z-index: 0;
  position: relative;
  width: 100%;
  overflow: hidden;

  .joe__link--reversed {
    @extend %joe__type--smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }

  .joe__title-label {
    @include type($font-serif, .75em, $font-weight-bold, 1.25);
    display: inline-block;
    font-weight: $font-weight-medium;
    color: $white;

    &:first-child {
      font-weight: $font-weight-bold;
      margin-right: 15px;
    }
  }

  @include breakpoint($bp-med) {

    .joe__col-one--med {
      @include gutter($padding-right-full...);
    }
  }
}


.joe__article-issue-footer__block {
  @include gutter($margin-top-full...);
  text-align: left;
}

:root[class*='vc-'] {
  .joe__article-issue-footer {
    background-color: unset;
    color: var(--c-footer-text);
    text-align: left;
    padding: 0;
    margin: 0 0 5rem;

    a {
      color: var(--c-footer-link);
    }

    .joe__title-label {
      margin: 0;

      &:first-child {
        font-weight: 400;
      }
    }
  }

  .joe__article-teaser__title {
    @include type($font-serif, 1.05em, $font-weight-bold, 1.25);
    margin-top: 0.6em;

    a:link,
    a:visited {
      color: unset;
    }
  }

  .joe__article-teaser--reverse .joe__article-teaser__meta {
    color: unset;
  }
}
