.joe__article-teaser {
  @extend %clearfix;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 1.5em;
  z-index: 2;
  
  @include breakpoint(450px) {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    
    .no-flexbox & {
      padding-right: 55%; 
    }
    
    &.joe__article-teaser--featured {
      flex-direction: row;
      -webkit-flex-direction: row;
    
      .no-flexbox & {
        padding-left: 55%; 
      }
    }
  }
  
  @include breakpoint($bp-med) {
    
    .no-flexbox & {
      padding-right: 45%; 
    }
    
    &.joe__article-teaser--featured {
      align-items: center;
    
      .no-flexbox & {
        padding-left: 45%; 
      }
    }
  }
}

.joe__article-teaser__image {
  width: 100%;
  min-width: 0;
  display: block;
  
  img {
    margin-bottom: .5em;
    width: 100%;
    max-width: 100%;
  }
  
  &:link,
  &:visited {
    border-bottom: 0;
  }
  
  &:active,
  &:hover,
  &:focus {
    border-bottom: 0;
  }
  
  @include breakpoint(450px) {
    // margin-top: 2em;
    margin-bottom: 0;
    min-width: 40%;
    width: 40%;
    
    .no-flexbox & {
      position: absolute;
      right: 0;
      top: 25px;
    }
    
    .joe__article-teaser--featured & {
      margin-top: 0;
      margin-right: 5%;
    }
  }
  
  @include breakpoint($bp-med) {
    min-width: 35%;
    width: 35%;
    
    .joe__article-teaser--featured & {
      min-width: 45%;
      width: 45%;
      margin-top: 0;
      margin-right: 5%;
    }
  }
}

.joe__article-teaser__block {
  width: 100%;
  min-width: 0;
  
  @include breakpoint($bp-small) {
    @include gutter($padding-right-half...);
    @include gutter($padding-left-half...);
  }
}

.joe__article-teaser__title {
  @include type($font-serif, 1.05em, $font-weight-bold, 1.25);
  margin-top: .6em;
  
  a:link,
  a:visited {
    color: $black;
    border-bottom: 0;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: underline;
    border-bottom: 0;
  }
}

.joe__article-teaser__meta {
  @extend %joe__type--smaller;
  display: block;
}

.joe__article-teaser__meta--secondary {
  @extend %joe__type--smallest;
  display: block;
  margin-top: 12px;
  padding-top: 8px;
  border-top: 1px solid $black-10;
  color: $black-80;
}

.joe__article-teaser__desc {
  @extend %joe__type--smaller;
  margin-top: .5em; 
}

.joe__article-teaser--large {
  flex-direction: column;
  
  .joe__article-teaser__image {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    
    .no-flexbox & {
      position: static;
      right: auto;
      top: auto;
    }
    
    img {
      width: 100%;
    }
    
    @include breakpoint($bp-med) {
      max-width: 100%;
      
      img {
        width: 100%;
      }
    }
  }
}

.joe__article-teaser--small {
  font-size: 85%;
  
  .joe__article-teaser__title {
    margin-top: .5em;
  }
}

.joe__article-teaser--reverse {
  
  .joe__article-teaser__title {
    margin-top: .75em;
    
    a:link,
    a:visited {
      color: $white;
    }
  }
  
  .joe__article-teaser__meta {
    color: $white;
  }
  
  .joe__flag,
  .joe__flag--red,
  .joe__flag--green,
  .joe__flag--gray {
    color: $navy;
    background-color: $gold;
    background: $gold;
  }
}


