.joe__article-teaser {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 1.5em;
  z-index: 2;
  
  .no-flexbox & {
    padding-right: 170px; 
  }
}

.joe__article-teaser__image {
  display: none;
  visibility: hidden;
  max-width: 100px;
  min-width: 0;
  
  .no-flexbox & {
    position: absolute;
    right: 0;
    top: 25px;
  }
  
  img {
    width: 100px;
    max-width: 100%;
  }
  
  &:link,
  &:visited {
    border-bottom: 0;
  }
  
  &:active,
  &:hover,
  &:focus {
    border-bottom: 0;
  }
  
  @include breakpoint($bp-xs) {
    display: block;
    visibility: visible;
  }
  
  @include breakpoint($bp-med) {
    max-width: 150px;
    
    img {
      width: 150px;
    }
  }
}

.joe__article-teaser__block {
  @include gutter($padding-right-half...);
  width: 100%;
  min-width: 0;
}

.joe__article-teaser__title {
  @include type($font-serif, 1.05em, $font-weight-bold, 1.25);
  margin-top: .6em;
  
  a:link,
  a:visited {
    color: $black;
    border-bottom: 0;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: underline;
    border-bottom: 0;
  }
}

.joe__article-teaser__meta {
  @extend %joe__type--smaller;
  display: block;
}

.joe__article-teaser__meta--secondary {
  @extend %joe__type--smallest;
  display: block;
  margin-top: 15px;
}

.joe__article-teaser--large {
  flex-direction: column;
  
  .joe__article-teaser__image {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    
    .no-flexbox & {
      position: static;
      right: auto;
      top: auto;
    }
    
    img {
      width: 100%;
    }
    
    @include breakpoint($bp-med) {
      max-width: 100%;
      
      img {
        width: 100%;
      }
    }
  }
}

.joe__article-teaser--small {
  font-size: 85%;
  
  .joe__article-teaser__title {
    margin-top: .5em;
  }
}

.joe__article-teaser--reverse {
  
  .joe__article-teaser__title {
    margin-top: .75em;
    
    a:link,
    a:visited {
      color: $white;
    }
  }
  
  .joe__article-teaser__meta {
    color: $white;
  }
  
  .joe__flag,
  .joe__flag--red,
  .joe__flag--green,
  .joe__flag--gray {
    color: $black;
    background-color: $blue-lighter;
    background: $blue-lighter;
  }
}


