.joe__article-footer {
  @extend %joe__type--small;
  background-color: $black-10;
  padding: $gutter-mobile;
  margin: .5em 0;
  
  .joe__title-label {
    @include type($font-serif, .875em, $font-weight-bold, 1.25);
  }
  
  small {
    display: block;
    margin-top: 20px;
    font-style: italic;
  }
  
  @include breakpoint($bp-med) {
    padding: $gutter;
    margin: 1em 0;
  }
}
