.joe__issue-teaser--current {
  @extend %clearfix;
  border-bottom: 1px solid $black-20;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.joe__issue-teaser--left {
  
  @include breakpoint($bp-small) {
    float: left;
    width: 50%;
  }
  
  @include breakpoint($bp-med) {
    width: 55%;
  }
}

.joe__issue-teaser--right {
  
  @include breakpoint($bp-small) {
    float: right;
    width: 45%;
    margin-left: 5%;
  }
  
  @include breakpoint($bp-med) {
    float: right;
    width: 40%;
    margin-left: 5%;
  }
}

.joe__issue-teaser__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
