.joe__issue-teaser--current {
  @extend %clearfix;
  border-bottom: 1px solid $black-20;
  padding-bottom: 2em;
  margin-bottom: 2em;
  
  .joe__issue-teaser__title {
    @include type($font-serif, 1.7em, $font-weight-bold, 1.2);
    margin-top: 0;  
    
    a:link,
    a:visited {
      color: $black;
    }
  }
  
  .joe__issue-listing--current & {
    border-top: 1px solid $navy-lighter;
    padding-top: 2em;
  }
}

.joe__issue-teaser--left {
  
  @include breakpoint($bp-med) {
    float: left;
    width: 40%;
  }
}

.joe__issue-teaser--right {
  
  @include breakpoint($bp-med) {
    float: right;
    width: 55%;
    margin-left: 5%;
  }
}

.joe__issue-teaser__list {
  list-style: none;
  margin: 1em 0 0;
  padding: 0;
  
  @include breakpoint($bp-med) {
    margin-top: 0;
  }
}
