.joe__featured-case {
  @extend %clearfix;
  border-bottom: 1px solid $black-20;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.joe__featured-case__link {
  @extend %joe__link--bold;
  display: inline-block;
  margin-top: .25em;
  float: right;
}
