.joe__footer {
  padding: 1em 0;
  border-bottom: 4px solid $blue;
  background-color: $white;
  box-shadow: $shadow;
  text-align: center;

  @include breakpoint($bp-small) {
    text-align: left;
  }
}

main + .joe__footer {
  box-shadow: inherit;
}

.joe__footer-brand {
  @extend %clearfix;
  display: block;
  margin: 1em auto 0;
  max-width: 150px;

  img {
    max-width: 100%;
    width: 100%;
  }

  &:link,
  &:visited {
    border-bottom: 0;
  }

  @include breakpoint($bp-small) {
    float: right;
    display: inline-block;
    margin-top: 1.35em;
    margin-left: .75em;
    padding-left:.75em;
    width: 150px;
  }
}

.joe__footer__block {
  display: inline-block;
  margin-right: 1.5em;

  p, a {
    @extend %joe__type--smaller;
  }

  @include breakpoint($bp-small) {
    margin-left: 1.5em;
    margin-right: 0;
  }
}
