.joe__footer {
  padding: 1em 0;
  border-bottom: 4px solid $blue;
  background-color: $white;
  box-shadow: 0 0 5px rgba($black-90, .25);
}

.joe__footer--right {
  display: flex;
  flex-direction: column;
  
  @include breakpoint($bp-xs) {
    flex-direction: row;
  }
  
  @include breakpoint($bp-small) {
    flex-direction: column;
    justify-content: flex-end;
  }
  
  @include breakpoint($bp-med) {
    flex-direction: row;
  }
}

.joe__footer__block {
  display: inline-block;
  margin-right: 1.5em;
  
  p, a {
    @extend %joe__type--smaller;
  }
  
  @include breakpoint($bp-small) {
    margin-left: 1.5em;
    margin-right: 0;
  }
}
