.joe__poll {
  @extend %clearfix;
  background-color: $white;
  box-shadow: 0 0 5px rgba($black-90, .25);
  padding: $gutter-mobile;
  
  @include breakpoint($bp-med) {
    padding: $gutter 0 ($gutter * 2);
  }
}

.joe__poll--inline {
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: $gutter-mobile;
  
  @include breakpoint($bp-med) {
    margin-right: -66%;
    padding: $gutter;
  }
  
  @include breakpoint($bp-large) {
    margin-right: -47%;
  }
}

.joe__poll__block {
  @extend %clearfix;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid $black-05;
  
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
}

.joe__poll__label {
  @include type($font-serif, .8em, $font-weight-bold, 1.25);
  margin-bottom: $gutter; 
  text-transform: uppercase;
}


.joe__poll__question {
  
  @include breakpoint($bp-med) {
    @include gutter($padding-right-half...);
    display: inline-block;
    width: 50%;
    float: left;
  }
  
  @include breakpoint($bp-large) {
    width: 40%;
  }
}

.joe__poll__link {
  @extend %joe__type--small;
  display: inline-block;
  margin-top: 15px;
}

.joe__poll__answers {
  margin-top: 1.5em;
  
  @include breakpoint($bp-med) {
    @include gutter($padding-left-half...);
    display: inline-block;
    width: 50%;
    float: right;
    margin-top: 0;
  }
  
  @include breakpoint($bp-large) {
    width: 60%;
  }
}

.joe__poll__answerlist {
  list-style: none;
  margin: 0 0 $gutter 0;
  padding: 0;
}

.joe__poll__answer {
  position: relative;
  margin-bottom: .5em;
  
  label {
    padding-left: 1.5em;
  }
  
  input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0;
  }
}

.joe__poll__reveal {
  @extend %joe__type--small;
  background-color: none;
  background: none;
  border-radius: 0;
  padding: 0;
  color: $blue-darker;
  text-transform: none;
  letter-spacing: 0;
  margin-left: 1em;
  
  &:active,
  &:hover,
  &:focus {
    background-color: none;
    background: none;
    text-decoration: underline;
    color: $blue-darkest;
  }
}
