.joe__poll {
  @extend %clearfix;
  background-color: $white;
  box-shadow: $shadow;
  padding: $gutter-mobile 0;
  
  @include breakpoint($bp-med) {
    padding: $gutter 0 ($gutter * 2);
  }
}

.joe__poll--inline {
  margin-top: $gutter;
  margin-bottom: $gutter;
  padding: $gutter-mobile;
  
  @include breakpoint($bp-med) {
    margin-right: -66%;
    padding: $gutter;
  }
  
  @include breakpoint($bp-large) {
    margin-right: -47%;
  }
}

.joe__poll__block {
  @extend %clearfix;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid $black-05;
  display: flex;
  flex-direction: column-reverse;
  
  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }
  
  @include breakpoint($bp-med) {
    display: block;
  }
}

.joe__poll__disclaimer {
  @extend %joe__type--smallest;
  display: block;
  margin-top: 20px;
  font-style: italic;
}

.joe__poll__label {
  @include type($font-serif, .8em, $font-weight-bold, 1.25);
  margin-bottom: $gutter; 
  text-transform: uppercase;
}


.joe__poll__question {
  
  @include breakpoint($bp-med) {
    @include gutter($padding-right-half...);
    display: inline-block;
    width: 47%;
    float: left;
  }
  
  @include breakpoint($bp-large) {
    width: 40%;
  }
}

.joe__poll__link {
  @extend %joe__type--small;
  display: inline-block;
  margin-top: 15px;
}

.joe__poll__answers {
  margin-top: 1em;
  
  @include breakpoint($bp-med) {
    @include gutter($padding-left-half...);
    display: inline-block;
    width: 45%;
    float: right;
    margin-top: 0;
  }
  
  @include breakpoint($bp-large) {
    width: 52%;
  }
  
  @include breakpoint(1275px) {
    width: 55%;
  }
}

.joe__poll__answerlist {
  list-style: none;
  margin: 0 0 $gutter 0;
  padding: 0;
}

.joe__poll__answer {
  position: relative;
  margin-bottom: .5em;
  
  label {
    padding-left: 1.5em;
  }
  
  input[type="radio"] {
    position: absolute;
    top: 4px;
    left: 0;
  }
}

.joe__poll__reveal,
.joe__poll__reveal[type='submit'] {
  @extend %joe__type--small;
  background-color: none;
  background: none;
  border-radius: 0;
  padding: 0;
  color: $blue-darkest;
  text-transform: none;
  letter-spacing: 0;
  
  &:active,
  &:hover,
  &:focus {
    background-color: none;
    background: none;
    text-decoration: underline;
    color: $navy;
  }
  
  .poll__hide {
    display: none;
    visibility: hidden;
  }
  
  &.is-active {
    .poll__show {
      display: none;
      visibility: hidden;
    }
    
    .poll__hide {
      display: inline;
      visibility: visible;
    }
  }
}


// results
.joe__poll__result {
  @extend %clearfix;
  display: block;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease-in, visibility .1s ease-in .5s;
  
  .choice-result {
    @extend %clearfix;
    margin: 0;
    transition: padding .5s ease-in;
  }
  
  .bar {
    width: 100%;
    height: 10px;
    background-color: $black-05;
  }
  
  .foreground {
    height: 10px;
    background-color: $green-darker;
  }
  
  .percent {
    @extend %joe__type--smallest;
    display: block;
    text-align: right;
  }
  
  .joe__poll__answers.is-open & {
    visibility: visible;
    max-height: 40px;
    margin-bottom: 1em;
    transition: max-height .75s ease-in, margin .75s ease-in; 
    
    .choice-result {
      padding-top: .5em; 
      padding-bottom: 1.5em;
      transition: padding .75s ease-in; 
    }
  }
}
