:root[class*='vc-'] {
  .vc-horizontal-gallery__heading {
    margin-block-start: 0;
  }

  .vc-horizontal-gallery__controls {
    .slick-arrow {
      background: unset;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      padding: 0;
      width: 4rem;
      height: 2rem;

      &:active,
      &:focus,
      &:hover {
        background: unset;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      &[aria-disabled='true'] {
        opacity: 0.5;
        cursor: not-allowed;
      }

      svg g {
        stroke: var(--c-link);
      }
    }

    .slick-prev {

      &:active,
      &:focus,
      &:hover {
        transform: translateX(-0.5rem);
      }
    }

    .slick-next {

      &:active,
      &:focus,
      &:hover {
        transform: translateX(0.5rem);
      }
    }
  }

  .vc-modal__controls {
    .slick-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 1.25rem;

      &[aria-disabled='true'] {
        opacity: 0.5;
        cursor: not-allowed;
      }

      svg g {
        stroke: var(--c-button-text);
      }
    }
  }

  .vc-modal__second {
    >*:first-child {
      margin-top: 0;
    }
  }

  .vc-modal__close {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 50%;
    padding: 0.5rem;
    margin: 0;

    svg path {
      stroke: var(--c-button-text);
    }
  }
}

.vc-horizontal-gallery__desc {
  max-width: 80ch;

  +.vc-horizontal-gallery__gallery-label {
    margin-block-start: 3rem;
  }
}

.vc-horizontal-gallery__gallery-label {
  text-align: center;
}

.vc-horizontal-gallery__items {
  .slick-track {
    display: flex;
    align-items: flex-start;
    padding-block: 2rem;

    @include breakpoint($bp-med) {
      padding-block: 3rem;
    }
  }

  .slick-list {
    padding: 5rem 0;
  }

  .slick-slide {
    opacity: 0.5;
    transition: all 0.6s ease;
    margin: 1rem;

    @include breakpoint($bp-small) {
      margin: 2rem;
    }

    &:hover {
      opacity: 1;
    }

    // Target previous siblings from current slide
    // -1
    &:has(+ .slick-current) {
      transform: perspective(800px) rotateY(7deg) scale(var(--scale, 1));
      transform-origin: right;

      &:hover {
        --scale: 1.02;
      }
    }

    // - 2
    &:has(+ * + .slick-current) {
      transform: perspective(800px) rotateY(14deg) translateX(-2rem) scale(var(--scale, 1.09));
      transform-origin: right;

      &:hover {
        --scale: 1.11;
      }
    }

    // - 3
    &:has(+ * + * + .slick-current) {
      transform: perspective(800px) rotateY(14deg) translateX(-14rem) scale(var(--scale, 1.3));
      transform-origin: right;

      &:hover {
        --scale: 1.32;
      }
    }

    &.slick-current {
      opacity: 1;

      &:hover {
        transform: scale(1.02);
      }

      // Target next siblings from current slide
      // + 1
      +.slick-slide {
        transform: perspective(800px) rotateY(-7deg) scale(var(--scale, 1));
        transform-origin: left;

        &:hover {
          --scale: 1.02;
        }
      }

      // + 2
      +.slick-slide+.slick-slide {
        transform: perspective(800px) rotateY(-14deg) translateX(2rem) scale(var(--scale, 1.09));
        transform-origin: left;

        &:hover {
          --scale: 1.11;
        }
      }

      // + 3
      +.slick-slide+.slick-slide+.slick-slide {
        transform: perspective(800px) rotateY(-14deg) translateX(14rem) scale(var(--scale, 1.3));
        transform-origin: left;

        &:hover {
          --scale: 1.32;
        }
      }
    }
  }
}

.vc-horizontal-gallery__artwork {
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}

.vc-horizontal-gallery__artwork-label {
  @include type($franklin-gothic-comp, 0.9em, $font-weight-medium, 1);
  display: block;
  margin: 0.75rem 0 0;
}

.vc-horizontal-gallery__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vc-horizontal-gallery__controls-label {
  @include type($font-sans-serif, 0.8em, $font-weight-medium, 1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include breakpoint($bp-small) {
    font-size: 1em;
  }
}

// Modal styles
.vc-modal {
  display: none;

  &.is-open {
    display: block;
  }

  .slick-slider {
    user-select: auto;
  }

  .slick-slide {
    visibility: hidden;
  }

  .slick-current {
    visibility: visible;
  }
}

.vc-modal__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-bg);
  overflow-y: auto;

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--c-link);
    background-clip: padding-box;
    border-radius: 9999px;
    border: 3px solid transparent;
  }
}

.vc-modal__content {
  padding: 3rem 1rem 5rem;

  @include breakpoint($bp-med) {
    padding-inline: 2rem;
  }

  @include breakpoint($bp-large) {
    padding-inline: 3rem;
  }
}

.vc-modal__footer {
  position: absolute;
  top: 1rem;
  right: 1rem;

  @include breakpoint($bp-med) {
    right: 2rem;
  }
}

.vc-modal__first {
  @include breakpoint($bp-med) {
    grid-column: 2 / 12;

    // Update grid span when `vc-modal__second` displays
    &:has(+.vc-modal__second) {
      grid-column: span 7;
    }
  }
}

.vc-modal__second {
  @include breakpoint($bp-med) {
    grid-column: span 5;
    margin-block-start: 5rem;
  }
}

.vc-modal__controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--c-bg);
  box-shadow: 0 0 50px rgba($black, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
