:root[class*='vc-'] {
  .vc-featured-audio__heading {
    margin-block-start: 0;
  }

  .vc-featured-audio__button {
    animation: buttonPulse 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background-color: $white;
    border: 0;
    border-radius: 50%;
    padding: 1rem;
    margin: 0;

    &:active,
    &:focus,
    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
      background-color: $white;
    }
  
    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &[aria-pressed='false'] {
      .vc-featured-audio__pause {
        display: none;
      }
    }

    &[aria-pressed='true'] {
      animation: none;

      .vc-featured-audio__play {
        display: none;
      }
    }
  }
}

.vc-featured-audio__container {
  position: relative;
}

.vc-featured-audio__player {
  display: none;
}

.vc-featured-audio__footer {
  @include type($font-sans-serif, 0.8em, $font-weight-medium, 1.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem 2rem;
}
