.vc-article-bottom {
  background-color: var(--c-footer-bg);
  color: var(--c-footer-text);
  padding-block-end: 4rem;
  overflow: hidden;

  a {
    color: var(--c-footer-link);
  }
}

.vc-article-bottom__container {
  position: relative;

  >* {
    position: relative;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% - 4rem);
    width: 0;
    height: 0;
    border-top: 1000px solid var(--c-bg);
    border-left: 1000px solid transparent;

    @include breakpoint($bp-large) {
      left: 1100px;
    }
  }
}
