.vc-hero-gallery {
  --top-padding: 8rem;
  --bottom-padding: 3rem;
  padding-block: var(--top-padding) var(--bottom-padding);

  @include breakpoint($bp-large) {
    --top-padding: 10rem;
  }
}

.vc-hero-gallery__content-body {
  text-align: center;
}

.vc-hero-gallery__flag {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  text-align: center;

  // Reduce animation motion if enabled per user
  @media (prefers-reduced-motion) {
    animation-timing-function: linear;
    animation-duration: 0s;
    opacity: 1;
  }
}

.vc-hero-gallery__flag-type {
  @include type($font-serif, 1em, $font-weight-bold, 1);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-inline-end: 2rem;
}

:root.vc-gallery {
  .vc-hero-gallery__title {
    animation-name: sectionFadeIn;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    text-wrap: balance;
    margin-block-start: 1rem;

    // Reduce animation motion if enabled per user
    @media (prefers-reduced-motion) {
      animation-timing-function: linear;
      animation-duration: 0s;
      opacity: 1;
    }
  }

  .vc-hero-gallery__title--masked {
    background-image: var(--hero-gallery-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a.vc-hero-gallery__anchor {
    text-decoration: none;

    img {
      transition: all 0.3s ease;
    }

    &:hover {
      img {
        box-shadow: 0 0 0 6px var(--c-link);
      }
    }
  }

  .vc-hero-gallery__anchor-label {
    @include type($font-serif, 1em, $font-weight-bold, 1);
    text-align: center;
    margin: 1rem 0 0;
  }
}

.vc-hero-gallery__desc {
  animation-name: sectionFadeIn;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
  text-wrap: balance;

  // Reduce animation motion if enabled per user
  @media (prefers-reduced-motion) {
    animation-timing-function: linear;
    animation-duration: 0s;
    opacity: 1;
  }

  @include breakpoint($bp-large) {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.vc-hero-gallery__nav,
.vc-hero-gallery__nav-controls {
  animation-name: sectionFadeIn;
  animation-timing-function: ease;
  animation-duration: 4s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;

  // Reduce animation motion if enabled per user
  @media (prefers-reduced-motion) {
    animation-timing-function: linear;
    animation-duration: 0s;
    opacity: 1;
  }
}

.vc-hero-gallery__nav-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vc-hero-gallery__nav-label {
  @include type($font-sans-serif, 0.8em, $font-weight-medium, 1);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include breakpoint($bp-small) {
    font-size: 1em;
  }
}

#vc-back-to-galleries {
  transition: all 0.3s ease;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 0 50px rgba($black, 0.2);
  z-index: 1;
  opacity: 0;
  visibility: hidden;

  @include breakpoint($bp-small) {
    bottom: 2rem;
    right: 2rem;
  }

  svg {
    width: 1rem;
    height: 1rem;
  
    path {
      fill: var(--c-button-text);
    }
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}
