.vc-hero-gallery {
  --top-padding: 8rem;
  --bottom-padding: 8rem;
  padding-block: var(--top-padding);

  @include breakpoint($bp-large) {
    --top-padding: 10rem;
  }
}

.vc-hero-gallery__content-body {
  text-align: center;
}

.vc-hero-gallery__flag {
  text-align: center;
}

.vc-hero-gallery__flag-type {
  @include type($font-serif, 1em, $font-weight-bold, 1);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-inline-end: 2rem;
}

:root.vc-gallery {
  .vc-hero-gallery__title {
    text-wrap: balance;
    margin-block-start: 1rem;
  }

  .vc-hero-gallery__title--masked {
    background-image: var(--hero-gallery-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a.vc-hero-gallery__anchor {
    text-decoration: none;
  }

  .vc-hero-gallery__anchor-label {
    @include type($font-serif, 1em, $font-weight-bold, 1);
    text-align: center;
    margin: 1rem 0 0;
  }
}

.vc-hero-gallery__desc {
  text-wrap: balance;

  @include breakpoint($bp-large) {
    font-size: 1.2em;
    line-height: 1.4;
  }
}

.vc-hero-gallery__nav-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vc-hero-gallery__anchor {
  img {
    width: 100%;
    height: auto;
  }
}

.vc-hero-gallery__nav-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.vc-hero-gallery__nav-label {
  @include type($font-sans-serif, 0.8em, $font-weight-medium, 1);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  @include breakpoint($bp-small) {
    font-size: 1em;
  }
}
