// Beerslider
$prefix : "beer";
$initial-reveal: 50%;

.#{$prefix}-slider {

  *,
  &:before,
  &:after,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  display: inline-block;
  position: relative;
  overflow: hidden;

  img,
  svg {
    vertical-align: bottom;
  }

  &>* {
    height: 100%;
  }

  &>img {
    max-width: 100%;
    height: auto;
  }
}

.#{$prefix}-reveal {
  position: absolute;
  left: 0;
  top: 0;
  right: calc(100% - #{$initial-reveal});
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.35s;

  &> :first-child {
    width: calc(100%*100%/#{$initial-reveal});
    max-width: none;
    height: 100%;
  }

  &>img:first-child {
    height: auto;
  }
}

.#{$prefix}-range {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  left: -1px;
  width: calc(100% + 2px);
  cursor: pointer;
  appearance: slider-horizontal !important;
  appearance: none;
  opacity: 0;
  -ms-touch-action: auto;
  touch-action: auto;

  &::slider-thumb {
    appearance: none;
    height: 300vh;
  }

  &::-moz-range-thumb {
    appearance: none;
    height: 300vh;
  }

  &::-ms-tooltip {
    display: none;
  }
}


.#{$prefix}-handle {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: #000;
  background: rgba($white, 0.5);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba($black, 0);
  transition: background 0.3s, box-shadow 0.3s, opacity 0.5s 0.25s;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    border-top: solid 2px;
    border-left: solid 2px;
    transform-origin: 0 0;
  }

  &:before {
    left: 10px;
    transform: rotate(-45deg);
  }

  &:after {
    right: 0;
    transform: rotate(135deg);
  }
}

.#{$prefix}-range:focus~.#{$prefix}-handle {
  background: rgba($white, 0.85);
  box-shadow: 0 0 3px rgba($black, 0.4);
}

.#{$prefix}-ready {

  .#{$prefix}-reveal,
  .#{$prefix}-handle {
    opacity: 1;
  }
}

.vc-slide-rule__caption {
  @include type($font-sans-serif, 0.9em, $font-weight-medium, 1.1);
  padding-inline: 1.25rem;
  margin-block: 0 1rem;

  @include breakpoint($bp-large) {
    padding-inline: 1.5rem;
  }

  .layout--onecol-centered & {
    padding-inline: 0;
  }
}

.vc-slide-rule__info {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding-inline: 1rem;

  @include breakpoint($bp-large) {
    padding-inline: 1.5rem;
  }

  .layout--onecol-centered & {
    padding-inline: 0;
  }
}

.vc-slide-rule__info-before,
.vc-slide-rule__info-after {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.6em;
  line-height: 1.1;

  @include breakpoint($bp-large) {
    font-size: 0.8em;
  }
}

.vc-slide-rule__info-after {
  text-align: right;
}
