:root[class*='vc-'] {
  .joe__article-issue-footer {
    background-color: var(--c-footer-bg);
    color: var(--c-footer-text);
    text-align: left;
    margin-top: 0;

    a {
      color: var(--c-footer-link);
    }

    .joe__title-label {
      margin: 0;

      &:first-child {
        font-weight: 400;
      }
    }
  }

  .joe__article-teaser__title {
    @include type($font-serif, 1.05em, $font-weight-bold, 1.25);
    margin-top: 0.6em;

    a:link,
    a:visited {
      color: unset;
    }
  }

  .joe__article-teaser--reverse .joe__article-teaser__meta {
    color: unset;
  }
}
