<div class="vc-article-bottom">
  <div class="vc-article-bottom__container vc-container">
    {% if tags %}
      {% include "@molecules/tags-list.twig" %}
    {% endif %}
    {% if references %}
      {% include "@molecules/references.twig" %}
    {% endif %}
    {% include "@organisms/article-footer.twig" %}
    {% set authors = article_authors %}
    {% if article_authors %}
      {% include "@molecules/author-information.twig" %}
    {% endif %}
    {% if issue %}
      {% set issue = vc_issue %}
      {% include "@organisms/article-issue-footer.twig" with {
        issue_label: "You Might Also Like"
      } %}
    {% endif %}
  </div>
</div>
