{% include '@atoms/skip-nav.twig' %}

  {% block header %}
    {% set placeholder = two_column_left.header.placeholder %}
    {% include '@base/placeholder.twig' %}
  {% endblock %}
  <main id="main-content" role="main">
    <div class="container">
      <article class="joe__layout--two-column-left">
        {# Keeping tabindex for accessibility purposes #}
        <div id="joe__top" class="joe__page-content joe__article--top" role="article">
          {% block pageContent_header %}
            {% set placeholder = two_column_left.page_content_header.placeholder %}
            {% include '@base/placeholder.twig' %}
          {% endblock %}
        </div>
        <div class="joe__page-content joe__article--bottom" role="article">
          {% block pageContent %}
            {% set placeholder = two_column_left.page_content.placeholder %}
            {% include '@base/placeholder.twig' %}
          {% endblock %}
        </div>
        
        <aside id="sidebar" class="joe__sidebar joe__sidebar--top" role="complementary">
          {% block sidebar_top %}
            {% set placeholder = two_column_left.sidebar.placeholder %}
            {% include '@base/placeholder.twig' %}
          {% endblock %}
        </aside>
        
      </article>
    </div>
  </main>

  {% block footer %}
    {% set placeholder = two_column_left.footer.placeholder %}
    {% include '@base/placeholder.twig' %}
  {% endblock %}
</div>
