<div class="joe__article-hero">
  <img class="joe__article-hero__image" alt="{{ article_hero.alt }}" src="{{site.url}}/assets/images/{{ article_hero.src }}" />
  <span class="joe__article-hero__overlay"></span>
</div>
