{# Conditionally checks the current year to automatically update the copyright range. #}

<div class="joe__copyright joe__type--smaller">
  Copyright {{ "now"|date("Y", "UTC") }} {{ copyright.end }}
</div>
