<button id="{{ drawer_trigger.id }}" 
        class="joe__trigger {{ drawer_trigger.class }}" 
        aria-controls="{{ drawer_trigger.controlId }}">
  {% if drawer_trigger.text %}
    {{ drawer_trigger.text }}
  {% endif %}

  {% if drawer_trigger.icon %}
    {% set icon = drawer_trigger.icon %}
    {% include "icon.twig" %}
  {% endif %}
</button>
