<?xml version="1.0" encoding="utf-8"?>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
<title>Search</title>
<path d="M93.4,86.5L74,67.1c5.4-6.8,8.3-15.3,8.3-24.1C82.3,21.3,64.7,3.7,43,3.7S3.8,21.3,3.8,43c0,21.7,17.6,39.3,39.3,39.3
	c8.4,0,16.6-2.7,23.4-7.8L86,94.1c1,1,2.3,1.6,3.8,1.6c1.5,0,2.8-0.6,3.8-1.6C95.5,91.9,95.5,88.6,93.4,86.5z M71.7,43
	c0,15.8-12.8,28.6-28.6,28.6c-15.8,0-28.6-12.8-28.6-28.6S27.2,14.4,43,14.4C58.8,14.4,71.7,27.2,71.7,43z"/>
</svg>
