{% include '@atoms/skip-nav.twig' %}

<div class="container">
  {% block utility %}
    {% set placeholder = two_column_left.utility.placeholder %}
    {% include '@base/placeholder.twig' %}
  {% endblock %}

  {% block header %}
    {% set placeholder = two_column_left.header.placeholder %}
    {% include '@base/placeholder.twig' %}
  {% endblock %}

  <main id="main-content" class="joe__layout--two-column-left" tabindex="-1" role="main">
    {# Keeping tabindex for accessibility purposes #}
    <article class="joe__page-content" role="article">
      {% block pageContent %}
        {% set placeholder = two_column_left.page_content.placeholder %}
        {% include '@base/placeholder.twig' %}
      {% endblock %}
    </article>

    <aside id="sidebar" class="joe__sidebar" role="complementary">
      {% block sidebar %}
        {% set placeholder = two_column_left.sidebar.placeholder %}
        {% include '@base/placeholder.twig' %}
      {% endblock %}
    </aside>
  </main>

  {% block footer %}
    {% set placeholder = two_column_left.footer.placeholder %}
    {% include '@base/placeholder.twig' %}
  {% endblock %}
</div>
