<section class="vc-section">
  {% if section_fullwidth %}
    {% if section_heading %}
      <header class="vc-section__header">
        <h2 class="vc-section__heading">{{ section_heading }}</h2>
      </header>
    {% endif %}
    {% block col_one %}
      {% set placeholder = section_type.placeholder %}
      {% include '@base/placeholder.twig' %}
    {% endblock %}
  {% endif %}

  {% if section_centered %}
    <div class="vc-container--tight">
      {% if section_heading %}
        <header class="vc-section__header">
          <h2 class="vc-section__heading">{{ section_heading }}</h2>
        </header>
      {% endif %}
      {% block col_one %}
        {% set placeholder = section_type.placeholder %}
        {% include '@base/placeholder.twig' %}
      {% endblock %}
    </div>
  {% endif %}

  {% if section_two_col %}
    <div class="vc-container">
      {% if section_heading %}
        <header class="vc-section__header">
          <h2 class="vc-section__heading">{{ section_heading }}</h2>
        </header>
      {% endif %}
      <div class="vc-section__content vc-grid">
        <div class="vc-section__item {% if section_major %}vc-section__item--major{% endif %} {% if section_minor %}vc-section__item--minor{% endif %}">
          {% block col_one %}
            {% set placeholder = section_type_left.placeholder %}
            {% include '@base/placeholder.twig' %}
          {% endblock %}
        </div>
        <div class="vc-section__item {% if section_major %}vc-section__item--minor{% endif %} {% if section_minor %}vc-section__item--major{% endif %}">
          {% block col_two %}
            {% set placeholder = section_type_right.placeholder %}
            {% include '@base/placeholder.twig' %}
          {% endblock %}
        </div>
      </div>
    </div>
  {% endif %}
</section>
