<div class="joe__article-tools">
  {% if article_tools.cme %}
    {% set tool_drawer = article_tools.cme.tool_drawer %}
    {% include "@molecules/tool-drawer.twig" %}
  {% endif %}
  {% if article_tools.citation %}
    {% set tool_drawer = article_tools.citation.tool_drawer %}
    {% include "@molecules/tool-drawer.twig" %}
  {% endif %}
  {% if article_tools.pdf %}
    {% set button = article_tools.pdf.button %}
    {% include "@atoms/button.twig" %}
  {% endif %}
  {% if article_tools.print %}
    {% set button = article_tools.print.button %}
    {% include "@atoms/button.twig" %}
  {% endif %}
</div>
