<nav class="joe__footer-nav">
  <ul class="joe__footer-nav__list">
  {% for footer_nav in footer_navs %}
    <li class="joe__footer-nav__item">
      {% set link = footer_nav %}
      {% include "@atoms/link.twig" %}
    </li>
  {% endfor %}
  </ul>
</nav>
