.joe__article-tools {
  @include gutter($margin-top-full...);
  border-top: 2px solid $orange;
  position: relative;
  text-align: right;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  
  .joe__button--tool {
    float: right;
    margin: 0 0 0 4px;
    position: relative;
    
    @include breakpoint($bp-med) {
      margin: 0 0 0 8px;
    }
  }
  
  .joe__tool-drawer {
    
    .joe__button--tool {
      position: relative;
      right: 94px;
      
      @include breakpoint($bp-med) {
        right: 107px;
      }
      
      @include breakpoint($bp-large) {
        right: 112px;
      }
    }
  }
  
  &.joe__article-tools--no-pdf .joe__tool-drawer .joe__button--tool {
    right: 52px;
    
    @include breakpoint($bp-med) {
      right: 54px;
    }
    
    @include breakpoint($bp-large) {
      right: 57px;
    }
  }
}
