.joe__article-header {
  @include gutter($margin-bottom-half...);
}

.joe__article-header__reviewed {
  @extend %joe__type--smaller;
  display: block;
  color: $black-80;
  margin-bottom: 1em;
  
  @include breakpoint(500px) {
    display: inline-block;
    padding: 6px 10px;
    position: relative;
    top: -2.5em;
    float: right;
    border: 1px solid $black-20;
    border-top: 0;
  }
  
  @include breakpoint($bp-med) {
    top: -3.75em;
  }
}

.joe__article-header__title {
  margin-top: 0;
  
  @include breakpoint($bp-med) {
    @include type($font-serif, 2.05em, $font-weight-bold, 1.25);
  }
  
  @include breakpoint($bp-large) {
    @include type($font-serif, 2.15em, $font-weight-bold, 1.25);
  }
}

.joe__article-header__meta {
  color: $black-80;
  margin-top: $gutter / 2;
}
