.joe__author-information {
  margin: $gutter-mobile 0;

  @include breakpoint($bp-xs) {
    padding: $gutter-mobile 0;
  }

  @include breakpoint($bp-med) {
    padding: 0;
    margin: $gutter 0;
  }
}

.joe__author-information__list {
  @extend %joe__type--small;
  margin: 1em 0 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 1em;
  }
}

:root[class*='vc-'] {
  .joe__author-information {
    // temp bg
    background-color: var(--c-footer-bg);
    color: var(--c-footer-text);
    padding: 0;
    margin: 0 0 3rem;

    a {
      color: var(--c-footer-link);
    }
  }
}
