.joe__footer-nav {
  margin-top: .5em;
  margin-bottom: 1em
}

.joe__footer-nav__list {
  list-style: none;
  margin: 0;
  padding: .25em 0 0;
  border-top: 1px solid $blue;
}

.joe__footer-nav__item {
  display: inline-block;
  margin-right: .45em;
  
  a:link,
  a:visited {
    @include type($font-sans-serif, .8em, $font-weight-bold, 1.1);
    border-bottom: 0;
  }
  
  a:active,
  a:hover,
  a:focus {
    border-bottom: 1px solid $orange-lighter;
  }
}
