%joe__inline {
  @extend %clearfix;
  margin: 1em 0;
}

.joe__inline-caption {
  @extend %joe__type--smaller;
  margin-top: .5em;
  
  .is-zoomed & {
    display: none;
  }
}

.joe__inline-image {
  @extend %joe__inline;
  position: relative;

  img {
    width: 100%;
  }
  
  &.is-zoomed {
    background-color: rgba($black, .95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    transition: background-color .15s ease;
    margin: 0;
    overflow: auto;
    
    img {
      opacity: 0;
      animation: fadeIn .5s ease .15s forwards;
       
      .no-cssanimations & {
        opacity: 1;
      }    
    }

    .joe__inline-image__zoom:after {
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 30px;
      content: "Close";
      color: transparent;
      background-image: url("../images/close.png");
    }
  }
}

.joe__inline-image--left {

  @include breakpoint($bp-small) {
    width: 50%;
    float: left;
    margin: .5em 1em .5em 0;
    
    &.is-zoomed {
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}

.joe__inline-image--right {

  @include breakpoint($bp-small) {
    width: 50%;
    float: right;
    margin: .5em 0 .5em 1em;
    
     &.is-zoomed {
      width: 100%;
      float: none;
      margin: 0;
    }
  }
}

.joe__inline-image--portrait {
  width: 50%;
  float: left;
  top: 100%;
  margin: .5em 1em .5em 0;
  
  &.is-zoomed {
    width: 100%;
    float: none;
    margin: 0;
  }

  @include breakpoint($bp-small) {
    width: 30%;
    
    &.is-zoomed {
      width: 100%;
    }
  }

  @include breakpoint($bp-med) {
    width: 25%;
    
    &.is-zoomed {
      width: 100%;
    }
  }
}

.joe__inline-image__zoom {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba($white, .8);
  background: rgba($white, .8);
  border-radius: 0;
  padding: 6px;
  
  &:after {
    content: 'Zoom in on this Image';
    background-image: url('../images/zoom-blue.png');
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    display: block;
    color: transparent;
    font-size: 0;
    overflow: hidden;
  }
  
  &:active,
  &:hover,
  &:focus {
    background-color: $navy-lighter;
    background: $blue-gradient;
  
    &:after {
      background-image: url('../images/zoom-white.png');
    }
  }
}

.layout-container.freeze-scrolling {
  position: fixed;
}
