
.joe__issue-teaser {
  margin-bottom: 2em;
}

.joe__issue-teaser__label {
  @include type($font-serif, .8em, $font-weight-bold, 1.25);
  text-transform: uppercase;
  
  span {
    font-weight: $font-weight-medium;
  }
}

.joe__issue-teaser__title {
  @include type($font-serif, 1.35em, $font-weight-bold, 1.28);
  margin-top: .5em;
}

.joe__issue-teaser__desc {
  @extend %joe__type--small;
  margin-bottom: .5em;
}

.joe__issue-teaser__meta {
  @extend %joe__type--smaller;
}

.joe__issue-teaser__link {
  @extend %joe__type--smaller;
  display: inline-block;
  margin-top: 1em;
}
