
.joe__issue-teaser {
  margin-bottom: 2em;
}

.joe__issue-teaser__label {
  @include type($font-serif, .8em, $font-weight-bold, 1.25);
  text-transform: uppercase;
  
  span {
    font-weight: $font-weight-medium;
  }
  
  .joe__related-issues & {
    color: rgba($white, .8);
  }
}

.joe__issue-teaser__title {
  @include type($font-serif, 1.35em, $font-weight-bold, 1.28);
  margin-top: .5em;
  
  .joe__related-issues & {
    color: $white;
    
    a:link,
    a:visited {
      color: $white;
    }
  }
}

.joe__issue-teaser__desc {
  @include type($font-sans-serif, 1em, $font-weight-medium, 1.35);
  margin-bottom: .5em;
  
  .joe__related-issues & {
    color: rgba($white, .8);
  }
}

.joe__issue-teaser__meta {
  @extend %joe__type--smaller;
  
  .joe__related-issues & {
    color: rgba($white, .8);
  }
}

.joe__issue-teaser__link {
  @extend %joe__link--bold;
  display: inline-block;
  margin: 1.5em 0 3em 0;
}
