.joe__primary-nav {
  
  @include breakpoint($bp-med) {
    float: right;
    clear: right;
    
    .joe__sticky-header & {
      float: none;
      text-align: center;
    }
  }
}

.joe__primary-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.joe__primary-nav__item {
  @include type($font-serif, 1em, $font-weight-bold, 1.25);
  display: block;
  
  a:link,
  a:visited {
    display: block;
    padding: .5em;
    border-bottom: 1px solid $white;
    color: $white;
  }
  
  a:active,
  a:hover,
  a:focus {
    position: relative;
  }
  
  @include breakpoint($bp-med) {
    display: inline-block;
    
    a:link,
    a:visited {
      display: inline-block;
      padding: .5em;
      color: $blue-darker;
      border-bottom: 0;
    }
    
    a:active,
    a:hover,
    a:focus {
      position: relative;
      border-bottom: 0;
    }
    
    &:last-child {
      a:link,
      a:visited {
        padding-right: 0;
      }
    }
    
    .joe__sticky-header & {
      
      a:link,
      a:visited {
        color: $white;
      }
      
      a:active,
      a:hover,
      a:focus {
        color: $white;
      }
    }
  }
}
