.joe__primary-nav {
  
  @include breakpoint($bp-med) {
    margin-top: 40px;
    float: right;
  }
}

.joe__primary-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.joe__primary-nav__item {
  @include type($font-serif, 1.1em, $font-weight-bold, 1.25);
  display: inline-block;
  
  a:link,
  a:visited {
    padding: .5em;
    border-bottom: 0;
    
    &:after {
      content: '';
      display: block;
      height: 0;
      width: 0;
      background-color: transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      position: absolute;
      bottom: 5px;
      right: 0;
      transition: border-color .25s ease;
    }
  }
  
  a:active,
  a:hover,
  a:focus {
    position: relative;
    
    &:after {
      height: 30px;
      width: 30px;
      border-right: 1px solid $orange;
      border-bottom: 1px solid $orange;
      transition: height .45s ease, width .45s ease;
    } 
  }
}
