.joe__rail-cta {
  margin: 1em 0;
  background-color: $white;
  padding: 1.5em;
  box-shadow: $shadow;
  
  @include breakpoint($bp-xs) {
    margin: 1em $gutter-mobile;
  }
  
  @include breakpoint($bp-med) {
    margin: 2em 0 1em 0;
  }
}

.joe__rail-cta__title {
  @include type($font-serif, 1.2em, $font-weight-bold, 1.3);
  margin-top: 0;
}

.joe__rail-cta__text {
  @extend %joe__type--small;
  margin-bottom: 1em;
}
