.joe__rail-nav__list {
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  background-color: $white;
  padding: 1.5em;
  box-shadow: 0 0 5px rgba($black-90, .25);
  
  @include breakpoint($bp-xs) {
    margin: 1em $gutter-mobile;
  }
  
  @include breakpoint($bp-med) {
    margin: 2em 0 1em 0;
  }
}

.joe__rail-nav__item {
  @include type($font-serif, .9em, $font-weight-bold, 1.25);
  display: block;
  
  &:first-child > a {
    border-top: 1px solid $blue-darker
  }
  
  a:link,
  a:visited {
    display: block;
    padding: .5em 0;
    border-bottom: 1px solid $blue-darker;
    color: $blue-darkest;
  }
  
  a:active,
  a:hover,
  a:focus {
    position: relative;
    color: $orange-darker;
    border-color: $orange-darker;
  }
}

.joe__rail-nav__sublist {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
  border-bottom: 1px solid $blue-darker
}

.joe__rail-nav__subitem {
  @include type($font-serif, .85em, $font-weight-bold, 1.25);
  display: block;
  
  a:link,
  a:visited {
    border-bottom: 0;
  }
}
