.joe__references {
  margin-bottom: 1em;
}

.joe__references__list {
  @extend %joe__type--smaller;
  padding-left: 1em;
  word-wrap: break-word;
}

.joe__references__item {
  margin-bottom: 1em;
}

.joe__references__item-links {
  a {
    margin-right: 15px;
  }
}
