.joe__references {
  margin-bottom: 1em;
}

.joe__references__list,
.joe__references ul,
.joe__references ol {
  @extend %joe__type--small;
  padding-left: 1em;
  word-wrap: break-word;
  
  p {
    display: inline;
  }
}

.joe__references__item,
.joe__references li {
  margin-bottom: 1em;
}

.joe__references__item-links{
  a {
    margin-right: 15px;
  }
}
