.joe__site-search {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  max-height: 0;
  visibility: hidden;
  background-color: $navy-lighter;
  background: $blue-gradient;
  box-shadow: $shadow;
  transition: max-height .5s ease-in, visibility 0s ease-in .5s;
  overflow: hidden;
  padding: 0 .5em;
  
  &.is-active {
    max-height: 200px;
    visibility: visible;
    transition: max-height .5s ease-in, visibility 0s ease-in;
  }
  
  @include breakpoint($bp-med) {
    padding: 0;
    max-height: none;
    visibility: visible;
    width: 350px;
    position: relative;
    top: -7px;
    float: right;
    border: 1px solid $navy-lighter;
    border-radius: 0 0 4px 4px;
    background: none;
    background-color: transparent;
    box-shadow: none;
    overflow: visible;
    
    &.is-active {
      max-height: none;
      visibility: visible;
    }
    
    .joe__sticky-header & {
      border-radius: 4px;
      top: -1px;
      margin-left: .5em;
      margin-top: 6px;
      position: relative;
      transition: all .25s ease-in;
    }
  }
  
  @include breakpoint($bp-large) {
    top: -7px;
    
    .joe__sticky-header & {
      margin-top: 10px;
    }
  }
  
  input[type="text"],
  input[type="search"] {
    margin: 1em 0;
    border: 0;
    padding-right: 50px;
    
    @include breakpoint($bp-med) {
      margin: 0;
    }
  }
  
  input[type="submit"] {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    background: url(../icons/svg/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    width: 25px;
    height: 41px;
    color: transparent;
    opacity: .6;
    
    &:active,
    &:hover,
    &:focus {
      opacity: 1;
    }
    
    @include breakpoint($bp-med) {
      right: 0;
      top: 0;
    }
  }
}

.joe__search-input[type="submit"] {
  color: transparent;
}
