.joe__tags {
  @extend %joe__type--smaller;
  position: relative;
  margin: $gutter 0 ($gutter * 2);
  padding: 1em 0 0 40px;

  border-top: 1px solid $black-20;
  
  .icon-tag {
    height: 1em;
    width: 1em;
    position: absolute;
    left: 9px;
    top: 1.2em;
    
    svg {
      height: 1em;
      width: 1em;
      fill: $black-80;
    }
  }
  
  @include breakpoint($bp-med) {
    padding: 1em 0 0 40px;
  }
}

.joe__tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.joe__tag {
  display: inline-block;
  text-transform: none;
  letter-spacing: 0;
  color: $black-80;
  
  a:link,
  a:visited {
    color: $black-80;
    border-bottom: 0;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}
