.joe__tool-drawer__content {
  @extend %joe__type--smallest;
  text-align: left;
  padding: 15px;
  background-color: $black-05;
  display: none;
  position: relative;
  z-index: 1;
}

.tool-drawer__trigger {
  z-index: 0;
}
