.joe__utility-nav {
  @extend %clearfix;
  display: block;
  background-color: $blue-darkest;
  column-count: 1;
  column-gap: 0;
  background: $navy-lighter;
  
  @include breakpoint($bp-xs) {
    column-count: 2;
  }
  
  @include breakpoint($bp-med) {
    position: absolute;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    column-count: 1;
    background: $navy-lighter;
    background-color: $navy-lighter;
    
    .joe__header & {
      top: -25px;
      background: none;
      background-color: transparent;
    }
  }
  
  @include breakpoint($bp-large) {
    width: 100%;
    
    .joe__header & {
      top: -28px;
    }
  }
  
  @include breakpoint($bp-xl) {
    width: 100%;
  }
}

.joe__utility-nav__list {
  @extend %joe__type--smaller;
  list-style: none;
  margin: 0;
  padding: 0;
  
  @include breakpoint($bp-med) {
    float: left;
  }
}

.joe__utility-nav__list--right {
  
  @include breakpoint($bp-med) {
    float: right;
    margin-right: 5.0em;
  }

  @include breakpoint($bp-large) {
    margin-right: 5.0em;
  }
  
  @include breakpoint($bp-xl) {
    margin-right: 0em;
  }
}

.joe__utility-nav__item {
  position: relative;
  display: block;
  border-bottom: 1px solid $white;
  
  .icon-twitter {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 9px;
    left: 80px;
    
    svg {
      fill: $white;
      height: 20px;
      width: 20px;
    }
  }
  
  a:link,
  a:visited {
    display: block;
    padding: .75em .75em;
    color: $white;
    border: 0;
    border-left: 1px solid $white;
  }
  
  @include breakpoint($bp-med) {
    display: inline-block;
    border: 0;
    
    .icon-twitter {
      float: right;
      position: relative;
      top: auto;
      left: auto;
    }
    
    a:link,
    a:visited {
      display: inline-block;
      padding: 0 .5em;
      border: 0;
    }
    
    &:first-child {
      a:link,
      a:visited {
        padding-left: 0;
      }
    }
  }
}
