.vc-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--c-text);
  padding: 1rem 1rem 2rem;
}

.vc-card__image {
  margin: -1rem -1rem 1.5rem;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.vc-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root[class*='vc-'] {
  .vc-card__title {
    margin-block-start: 0.5rem;
  }
}

.vc-card__desc {
  flex-grow: 1;
  font-size: 0.9em;
}
