.vc-reaction-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block-start: 1rem;
  gap: 0.5rem 1rem;
}

.vc-reaction-bar__actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.vc-reaction-bar__question {
  @include type($font-serif, 0.9em, $font-weight-medium, 1.15);
}

.vc-reaction-bar__total {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8em;
  font-weight: $font-weight-bold;
}

.vc-reaction-bar__emojis-selected {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.vc-reaction-bar__emojis {
  position: relative;
}

:root[class*='vc-'] {
  .vc-reaction-bar__emojis-button {
    display: flex;
    border-radius: 50%;
    padding: 0;

    svg path {
      fill: var(--c-button-text);
    }
  }
}

.vc-reaction-bar__emojis-dropdown {
  position: absolute;
  top: calc(100% + 1rem);
  left: -0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 300px;
  background-color: $white;
  box-shadow: 0 5px 20px rgba($black, 0.3);
  border-radius: 2rem;
  padding: 0.5rem 1rem;

  &[hidden] {
    display: none;
  }

  .vc-reaction-bar__actions--has-question & {
    left: auto;
    right: -0.5em;

    @include breakpoint($bp-small) {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:after,
  &:before {
    bottom: 100%;
    left: 2rem;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;

    .vc-reaction-bar__actions--has-question & {
      left: auto;
      right: 1.25rem;

      @include breakpoint($bp-small) {
        right: auto;
        left: 50%;
      }
    }
  }

  &::after {
    border-color: transparent;
    border-bottom-color: $white;
    border-width: 8px;
    margin-left: -8px;
  }

  &::before {
    border-color: transparent;
    border-bottom-color: $white;
    border-width: 9px;
    margin-left: -9px;
  }
}

.vc-reaction-bar__emojis-icon {
  transition: all 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    transform: translateY(-0.2rem);
  }
}
