.vc-card {
  isolation: isolate;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg);
  padding: 1rem 1rem 2rem;

  &::before {
    content: '';
    box-shadow: 0 0 0 1px var(--c-text);
    position: absolute;
    inset: 0;
    opacity: 0.25;
    z-index: -1;
  }
}

.vc-card__image {
  margin: -1rem -1rem 1.5rem;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.vc-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root[class*='vc-'] {
  .vc-card__title {
    margin-block-start: 0.5rem;
  }

  a.vc-card__link {
    display: flex;
    align-items: center;
    text-decoration: none;

    &::after {
      transition: transform 0.3s ease;
      content: '\00A0 \2192';
    }

    &:active,
    &:focus,
    &:hover {
      &::after {
        transform: translateX(0.25rem);
      }
    }
  }

}

.vc-card__desc {
  flex-grow: 1;
  font-size: 0.9em;
}
