.joe__wordmark {
  
  .joe__footer & {
    @extend %clearfix;
    display: inline-block;
  }
  
  @include breakpoint($bp-med) {
    margin-top: 3px;
    margin-bottom: 10px;
  }
  
  a:link,
  a:visited {
    color: $black-90;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: none;
  }
}

.joe__wordmark__title {
  @include type($font-serif, 1.2em, $font-weight-bold, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  
  sup {
    font-family: $font-sans-serif;
    font-weight: $font-weight-medium;
    font-size: .5em;
  }
  
  .joe__footer & {
    @include type($font-serif, 1.2em, $font-weight-bolder, 1.3);
  }
  
  @include breakpoint($bp-small) {
    @include type($font-serif, 1.55em, $font-weight-bold, 1.28);
    margin-top: 8px;
    
    .joe__footer & {
      @include type($font-serif, 1.4em, $font-weight-bold, 1.3);
    }
  }
  
  @include breakpoint($bp-med) {
    font-weight: $font-weight-bolder;
    
    .joe__footer & {
      font-weight: $font-weight-bolder;
    }
  }
}

.joe__wordmark__subtitle {
  @include type($font-sans-serif, .85em, $font-weight-medium, 1.15);
  font-style: italic;
  margin-top: 0;
  
  .joe__footer & {
    @include type($font-sans-serif, 0.85em, $font-weight-medium, 1.15);
  }
  
  @include breakpoint($bp-small) {
    @include type($font-sans-serif, 1.1em, $font-weight-medium, 1.28);
    
    .joe__footer & {
      @include type($font-sans-serif, 0.95em, $font-weight-medium, 1.15);
    }
  }
  
}


