.joe__layout--two-column-left {
  display: grid;
  display: -ms-grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-height: 30em;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: auto;

  @include breakpoint($bp-small) {
    grid-template-columns: 2fr  1fr;
    grid-template-rows: auto;
    -ms-grid-columns: 2fr  1fr;
    -ms-grid-rows: auto auto;
  }

  @include breakpoint($bp-large) {
    grid-template-columns: 8fr  3fr;
    grid-template-rows: auto;
    -ms-grid-columns: 8fr  3fr;
    -ms-grid-rows: auto;
  }
}

.joe__page-content {
  grid-column: 1 / 1;
  grid-row: 1;
  -ms-grid-row: 1;

  @include breakpoint($bp-small) {
    grid-column: 1 / 2;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
}// end article


.joe__sidebar {
  grid-column: 1 / 1;
  grid-row: 2;
  -ms-grid-row: 2;

  @include breakpoint($bp-small) {
    grid-column: 2 / 2;
    grid-row: 1;
    -ms-grid-row: 1;
  }
} // end aside.primary

