.joe__layout--two-column-left {
  
  .cssgrid & {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto;

    @include breakpoint($bp-med) {
      grid-template-columns: 2fr  1fr;
      grid-template-rows: auto;
      -ms-grid-columns: 2fr  1fr;
      -ms-grid-rows: auto auto;
    }

    @include breakpoint($bp-large) {
      grid-template-columns: 8fr  3fr;
      grid-template-rows: auto;
      -ms-grid-columns: 8fr  3fr;
      -ms-grid-rows: auto;
    }
  }
  
  // Fallback for CSS Grids
  .no-cssgrid & {
    @extend %clearfix;
  }
}

.joe__page-content {
  grid-column: 1 / 1;
  min-width: 0;
  background-color: $white;
  padding-left: $gutter-mobile;
  padding-right: $gutter-mobile;

  @include breakpoint($bp-med) {
    @include gutter($margin-right-half...);
    padding-left: $gutter;
    padding-right: $gutter;
    grid-column: 1 / 2;
    -ms-grid-column: 1;
  }
  
  // Fallback for CSS Grids
  .no-cssgrid & {
    
    @include breakpoint($bp-med) {
      width: 66.66%;
      float: left;
      display: inline-block;
    }
    
    @include breakpoint($bp-large) {
      width: 72%;
    }
  }
}// end article

.joe__sidebar {
  grid-column: 1 / 1;
  min-width: 0;
  margin-left: $gutter-mobile;
  margin-right: $gutter-mobile;

  @include breakpoint($bp-med) {
    @include gutter($margin-left-half...);
    margin-right: 0;
    grid-column: 2 / 2;
  }
  
  // Fallback for CSS Grids
  .no-cssgrid & {
    
    @include breakpoint($bp-med) {
      width: 33.33%;
      display: inline-block;
      clear: right;
    }
    
    @include breakpoint($bp-large) {
      width: 28%;
    }
  }
} // end aside.primary

.joe__sidebar--top {
  @include breakpoint($bp-med) {
    grid-row: 2;
  }
}

.joe__sidebar--white {
  background-color: $white;
  margin-left: 0;
  margin-right: 0;
  padding-left: $gutter-mobile;
  padding-right: $gutter-mobile;
  
  @include breakpoint($bp-med) {
    background-color: transparent;
  }
}

.joe__sidebar--bottom {
  @include breakpoint($bp-med) {
    grid-row: 4;
    
    .no-cssgrid & {
      float: right;
    }
  }
}

