.joe__layout--66-33 {
  .cssgrid & {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    // min-height: 30em;
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto;

    @include breakpoint($bp-small) {
      grid-template-columns: 1fr  1fr  1fr;
      grid-template-rows: auto;
      -ms-grid-columns: 1fr  1fr  1fr;
      -ms-grid-rows: auto auto;
    }
  }

  // Flexbox fallback for CSS Grids
  .no-cssgrid.flexbox & {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    @include breakpoint($bp-small) {
      flex-direction: row;
    }
  }
  
  // Fallback for browsers without css grid or flexbox
  .no-cssgrid.no-flexbox & {
    @extend %clearfix;
  }
}

.joe__col-66 {
  grid-column: 1 / 1;
  grid-row: 1;
  -ms-grid-row: 1;
  min-width: 0;
  padding-left: $gutter-mobile;
  padding-right: $gutter-mobile;

  @include breakpoint($bp-small) {
    @include gutter($margin-right-half...);
    padding-left: 0;
    grid-column: 1 / 3;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  
  // Flexbox fallback for CSS Grids
  .no-cssgrid & {
    
    @include breakpoint($bp-small) {
      width: 66%;
    }
  }
  
  // Fallback for browsers without css grid or flexbox
  .no-cssgrid.no-flexbox & {
    
    @include breakpoint($bp-small) {
      clear: left;
      display: inline-block;
      float: left;
    }
  }
}// end col one


.joe__col-33 {
  grid-column: 1 / 1;
  grid-row: 2;
  -ms-grid-row: 2;
  min-width: 0;
  padding-left: $gutter-mobile;
  padding-right: $gutter-mobile;

  @include breakpoint($bp-small) {
    @include gutter($margin-left-half...);
    padding: 0;
    grid-column: 3 / 3;
    grid-row: 1;
    -ms-grid-row: 1;
  }
  
  // Flexbox fallback for CSS Grids
  .no-cssgrid & {
    
    @include breakpoint($bp-small) {
      width: 33%;
    }
  }
  
  // Fallback for browsers without css grid or flexbox
  .no-cssgrid.no-flexbox & {
    
    @include breakpoint($bp-small) {
      clear: right;
      display: inline-block;
      float: right;
    }
  }
} // end col-two

