<nav class="joe__utility-nav">
  <ul class="joe__utility-nav__list">
  {% for utility_left_nav in utility_left_navs %}
    <li class="joe__utility-nav__item">
      {% set link = utility_left_nav %}
      {% include "@atoms/link.twig" %}
    </li>
  {% endfor %}
  </ul>
  <ul class="joe__utility-nav__list joe__utility-nav__list--right">
  {% for utility_right_nav in utility_right_navs %}
    <li class="joe__utility-nav__item">
      {% set link = utility_right_nav %}
      {% include "@atoms/link.twig" %}
      {% if utility_right_nav.text == "Follow Us" %}
        {% set icon = twitter_icon %}
        {% include "@atoms/icon.twig" %}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
