<section class="joe__issue-teaser">
  <div class="container">
    {% include "@atoms/title-label.twig" with { "title_label": {"level" : "3", "text" : "Also in this Issue" } } %}
    {% set title_label = issue.title %}
    {% include "@atoms/title-label.twig" %}
    <div class="joe__layout--two-column joe__issue-teaser__block">
      {# Keeping tabindex for accessibility purposes #}
      <div class="joe__col-one--med">
        {% set teaser = issue.feature_article %}
        {% include '@molecules/article-teaser.twig' %}
      </div>

      <div class="joe__col-two--med">
        {% for article in issue.articles %}
          {% set teaser = article %}
          {% include '@molecules/article-teaser.twig' %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
