<section class="joe__issues-teaser">
  <div class="container">
    <div class="l-66-33--1">
    {% set title_label = issue_teaser.title %}
    {% include "@atoms/title-label.twig" %}
    
    {% include "@atoms/link.twig" with { 'link': { "title": "Issue Archive", "href": '#', 'text': 'Issue Archive', 'class': "joe__issues-teaser__link" } } %}
      {# Keeping tabindex for accessibility purposes #}
    <div class="joe__col-one--med">
      {% for issue in issue_teaser.issues %}
        {% set teaser = article %}
        {% include '@molecules/article-teaser.twig' %}
      {% endfor %}
    </div>
  </div>
</section>
