<section class="joe__issue-teaser">
  <div class="container">
    {% include "@atoms/title-label.twig" with { "title_label": {"level" : "3", "text" : "Also in this Issue" } } %}
    {% include "@atoms/title-label.twig" with { "title_label": {"level" : "4", "text" : "October 2017" } } %}
    <div class="joe__layout--two-column">
      {# Keeping tabindex for accessibility purposes #}
      <div class="joe__col-one">
        Article 1
        
        Article 2
        
        Article 3
      </div>

      <div class="joe__col-two">
        Article 1
      </div>
    </div>
  </div>
</section>
