<h1>Search Results</h1>

<form class="joe__search-bar">
  <label class="visually-hidden">Site Search</label>
  <input type="search" name="site-search" />
  <input type="submit" name="site-search-submit" value="Search"/>
</form>

{% include '@molecules/page-filters.twig' %}
