<section class="joe__topics">
  <div class="container">
    {% include "@atoms/heading.twig" with { "heading": {"level" : "1", "text" : "From the Archive", "class" : "joe__topics__label" } } %}
    
    <ul class="joe__topics__list">
    {% for article in topic.articles %}
      {% set teaser = article %}
      <li>{% include '@molecules/article-teaser.twig' %}</li>
    {% endfor %}
    </ul>
  </div>
</section>
