<header class="vc-hero-art">
  <div class="vc-hero-art__image">
    <picture>
      <source srcset="https://placehold.co/1000x1450" media="(min-width: 600px)"/>
      <img src="https://placehold.co/600x400" alt="Alt text"/>
    </picture>
  </div>
  <div class="vc-container vc-grid">
    <div class="vc-hero-art__flag">
      <span class="vc-hero-art__flag-type">Art of Medicine</span>
      <a class="vc-hero-art__flag-date" href="#">May 2023</a>
    </div>
    <div class="vc-hero-art__content">
      <h1 class="vc-hero-art__title">A Completely Normal Conversation With a Box</h1>
      <span class="vc-hero-art__byline">Beck Regan</span>
      <div class="vc-hero-art__tools">
        <div class="vc-hero-art__tool">
          <a class="button vc-hero-art__tool-button" href="#">PDF</a>
        </div>
        <div class="vc-hero-art__tool">
          <button class="vc-hero-art__tool-button" type="button">Citation</button>
        </div>
        <div class="vc-hero-art__tool">
          <a class="button vc-hero-art__tool-button" href="#">Altmetric</a>
        </div>
      </div>
    </div>
  </div>
</header>
