<article class="joe__issue-teaser">

  <span class="joe__issue-teaser__label">{{issue.date}}</span>
  {% set link = issue.title %}
  <h2 class="joe__issue-teaser__title">{% include "@atoms/link.twig" %}</h2>
  <div class="joe__issue-teaser__meta">
    {{ issue.number }}
  </div>

</article>
