<header class="joe__header">
  <div class="container">
    {% set wordmark = header_wordmark %}
    {% include "@molecules/wordmark.twig" %}

    {% set drawer_trigger = search_trigger %}
    {% include "@atoms/drawer-trigger.twig" %}
    {% include "@molecules/site-search.twig" %}
    
    {% set drawer_trigger = menu_trigger %}
    {% include "@atoms/drawer-trigger.twig" %}
    <div id="joe__nav-drawer" class="joe__nav-drawer">
      {% include "@molecules/primary-nav.twig" %}
      {% include "@molecules/utility-nav.twig" %}
    </div>
  </div>
</header>
