
.icon-close {
	background-image: url('png/close.png');
	background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}



.icon-down-arrow {
	background-image: url('png/down-arrow.png');
	background-repeat: no-repeat;
  width: 128px;
  height: 128px;
}



.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-keyboard {
	background-image: url('png/keyboard.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-menu {
	background-image: url('png/menu.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-pdf {
	background-image: url('png/pdf.png');
	background-repeat: no-repeat;
  width: 100px;
  height: 80px;
}



.icon-quote {
	background-image: url('png/quote.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-search {
	background-image: url('png/search.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-square-email {
	background-image: url('png/square-email.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-square-facebook {
	background-image: url('png/square-facebook.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-square-gplus {
	background-image: url('png/square-gplus.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-square-linkedin {
	background-image: url('png/square-linkedin.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-square-share {
	background-image: url('png/square-share.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-square-twitter {
	background-image: url('png/square-twitter.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-swipe {
	background-image: url('png/swipe.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-tag {
	background-image: url('png/tag.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-youtube {
	background-image: url('png/youtube.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}



.icon-zoom {
	background-image: url('png/zoom.png');
	background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}


