<section class="joe__featured-case">
  
  {% set teaser = featured_case %}
  {% include '@molecules/article-teaser.twig' %}
  
  {% include "@atoms/link.twig" with { "link": { "title": "View all Cases", "href": "#", "class": "joe__featured-case__link", "text": "View all Cases" } } %}

</section>
