{% extends '@templates/two-column-left.twig' %}
{% block header %}
  {% include '@organisms/header.twig' %}
  {% include '@atoms/article-hero.twig' with {'article_hero' :{'image_id': '1'}} %}
{% endblock %}

{% block pageContent_header %}
  {% include '@molecules/article-header.twig' %}
  {% include '@molecules/article-tools.twig' %}
  {% include '@molecules/share.twig' %}
{% endblock %}

{% block pageContent_top %}
  {% if abstract %}
    {% include '@molecules/article-abstract.twig' %}
  {% endif %}
  {# This is the top body #}
  <h2>Introduction</h2>
  <p>Worldwide there is a growing awareness of the need to adapt health care systems to meet the challenges of the twenty-first century. The reasons for this need are many but include shifting trends in demographics and illness, epidemiological knowledge of the social determinants of health, the radical possibilities of new technologies, and rapidly increasing health care costs as well as relatively long-standing concerns about the need to respect and support the autonomy of patients [1, 2].</p>

  {% include "inline-image.twig" with { "inline_image": { "alignment": "left", "caption": "lorem ipsum dolor set amet", "image" : { "src" : "https://ipsumimage.appspot.com/800x600x186?l=3:2|800x600&s=36", "alt" : "Placeholder Image" }}} %}
  
  <p>One response to these challenges has been calls for the co-creation of health care systems. Co-creation can take a number of different forms, but at heart it represents bringing together key stakeholders to jointly address problems [3]. In medicine, health professionals, patients, providers, and other stakeholders can be involved in co-creation initiatives including achieving professional-patient concordance through shared decision making, personalization of health services, patient self-management or self-care, and interprofessional or interagency collaboration (e.g., among physicians, nurses, dieticians, podiatrists, and a variety of allied health professionals in caring for patients with diabetes) [4]. Co-creation in medicine typically seeks to extend the role of patients or service users in clinical settings and beyond by encouraging their participation in care processes or service design [4]. It can enable service users to exercise voice and choice and to take up new roles and responsibilities. For instance, in the context of the UK National Health Service, patients with chronic conditions are encouraged to assume “self-management” roles that involve taking responsibility for decision making, administering self-care, and even managing a personal health care budget [5]. Co-creation can also entail broad structural changes, such as partnerships that span clinical or institutional boundaries [3], including those in which health professionals of different stripes are brought together to work with public sector professionals or community stakeholders.</p>
{% endblock %}

{% block pageContent_poll %}
  {% include "poll.twig" %}
{% endblock %}

{% block pageContent_bottom %}
  {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page content bottom'}} %}
{% endblock %}

{% block sidebar_top %}
  {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page sidebar Top content'}} %}
{% endblock %}

{% block sidebar_bottom %}
  {% include '@base/placeholder.twig' with {'placeholder':{'text':'Page sidebar bottom content'}} %}
{% endblock %}

{% block footer %}
  {% include '@organisms/footer.twig' %}
{% endblock %}
