{% extends '@templates/two-column-left--extended.twig' %}
{% block header %}
  {% include '@organisms/header.twig' %}
  {% include '@atoms/article-hero.twig' %}
{% endblock %}

{% block pageContent_header %}
  {% include '@molecules/article-header.twig' %}
  {% include '@organisms/article-tools.twig' %}
  {% include '@molecules/share.twig' %}
{% endblock %}

{% block pageContent_top %}
  {% if abstract %}
    {% include '@molecules/article-abstract.twig' %}
  {% endif %}
  {# This is the top body #}
  <h2>Introduction</h2>
  <p>Worldwide there is a growing awareness of the need to adapt health care systems to meet the challenges of the twenty-first century. The reasons for this need are many but include shifting trends in demographics and illness, epidemiological knowledge of the social determinants of health, the radical possibilities of new technologies, and rapidly increasing health care costs as well as relatively long-standing concerns about the need to respect and support the autonomy of patients [1, 2].</p>
  
  <p>One response to these challenges has been calls for the co-creation of health care systems. Co-creation can take a number of different forms, but at heart it represents bringing together key stakeholders to jointly address problems [3]. In medicine, health professionals, patients, providers, and other stakeholders can be involved in co-creation initiatives including achieving professional-patient concordance through shared decision making, personalization of health services, patient self-management or self-care, and interprofessional or interagency collaboration (e.g., among physicians, nurses, dieticians, podiatrists, and a variety of allied health professionals in caring for patients with diabetes) [4]. Co-creation in medicine typically seeks to extend the role of patients or service users in clinical settings and beyond by encouraging their participation in care processes or service design [4]. It can enable service users to exercise voice and choice and to take up new roles and responsibilities. For instance, in the context of the UK National Health Service, patients with chronic conditions are encouraged to assume “self-management” roles that involve taking responsibility for decision making, administering self-care, and even managing a personal health care budget [5]. Co-creation can also entail broad structural changes, such as partnerships that span clinical or institutional boundaries [3], including those in which health professionals of different stripes are brought together to work with public sector professionals or community stakeholders.</p>
  
  <p>Although co-creation presents opportunities to develop more responsive, integrated, and outward-looking health care systems [6], realizing co-creation in practice means confronting significant professional, political, and ethical challenges. In this paper, we seek to promote critical reflection about some of these challenges. We argue that for co-creation to be successful, these challenges must be recognized, by clinicians in particular, and then negotiated as best as possible.</p>

  <h2>Common Ground in Diverse Contexts?</h2>
  <p>We begin by questioning what (for some at least) might be a central assumption of co-creation: that those involved in co-creating health care processes, service designs, or systems will be able to find common ground upon which to base an agenda. The idea that a consensus on the ends and means of health care is self-evident or can be straightforwardly established is problematic for several reasons.</p>
  
  {% include "@molecules/inline-quote.twig" with { "inline_quote": { "alignment": "right", "text": "Reaching, managing, and maintaining some convergence of purposes and values is therefore a key challenge for co-creating health systems."}} %}
  
  <p>Values in health care are contested [7]. Those involved in health care might have different ideas about what matters most and why. For instance, community stakeholders might seek greater accessibility and equity; patients might value greater safety and convenience; health professionals might want higher quality care, greater patient satisfaction, and fair remuneration; policymakers might prioritize efficiency. Given the diversity of values at stake, co-creation cannot be understood in simple catchall terms, (e.g., as simply about optimizing health outcomes). Moreover, inevitable resource limitations and potentially competing values make it difficult to pursue all potential values at once. In reality, bringing people together to achieve shared goals may prove difficult, as evidenced by patient nonadherence to medical recommendations undermining high-value care [7] or by cases in which patients and clinicians disagree about means and ends [8]. Reaching, managing, and maintaining some convergence of purposes and values is therefore a key challenge for co-creating health systems.</p>

  <p>Conceptions and possibilities of co-creation also depend upon context. In addition to the specific clinical circumstances of each situation, local factors—particularly political, economic, and sociocultural circumstances—help determine possibilities for co-creation. The extent to which patients are willing and able to play an active role in their care as “experts” or consumers may differ across institutional and national contexts, as may their abilities, attitudes, and conceptions of entitlements and bargaining power [9]. Equally, the attitudes and behaviors of health professionals and other stakeholders may be influenced by the prevailing norms and expectations that govern the space in which they operate, as well as by the wider legal, political, and economic circumstances that shape their particular roles and responsibilities.</p>

  <p>Thus what matters most for co-creative health systems should be decided with reference to local views and circumstances rather than abstract or universal principles. With this in mind, co-creation should rightly involve bringing local citizens, patients, health care practitioners, policymakers, and other stakeholders together to discuss the dilemmas inherent to processes of agenda setting in health care. Throughout these discussions, sensitivity to divergent interests and perspectives will be key to building a consensus.</p>

  {% include "@organisms/poll.twig" %}
  
  <h3>Challenges of Changing Professional Roles</h3>
  <p>Having examined the difficulties involved in finding a consensus upon which to base co-creation initiatives, we now consider some of the broader challenges associated with implementing co-creation in practice.</p>

  <p>A key element of co-creative health systems is their potential to usher in new roles for professionals, patients, and stakeholders, creating fresh possibilities for identity and relationships [10]. Co-creation could therefore transform the professional roles of clinicians by challenging them to continuously attend to, and negotiate, diverse interests and perspectives within and beyond the clinical terrain [8, 9]. For example, when patients present with complex physical and mental comorbidities that are caused and sustained by adverse economic and social conditions, effective care might require a combination of medical, psychiatric, and social contributions. Such cases might require a more “socially conscious” model of medical professionalism—a model that is, for example, sensitive to the intersections of class, race, gender, and culture and how these factors are bound up with people’s health experiences and opportunities [11]. No doubt some health professionals are “socially literate”; however, cultivating high levels of “social consciousness” is generally not well supported within medical training or professional practice and development [12, 13]. If co-creation is to become the norm, then a broadening of both initial medical education and ongoing professional development will be needed.</p>

  <p>Role change may present welcome opportunities but it also raises important ethical questions. For instance, professionals will need to reconsider how far their practice is oriented towards the patient in front of them or the wider public. If patients are encouraged to act as consumers of medical services, deciding who should take the lead in clinical decisions could be a tricky business, especially in cases of serious disagreement [8]. When would a patient-led consultation relegate medical professionals’ status to mere facilitators of patients’ choices [14]? On the other hand, should socially conscious medical professionals be more ready to consider the interests of the wider population of co-creators? Such questions highlight the significant potential that co-creation has for changing the prevailing norms and dynamics that currently govern clinical or policy decision making. And, to take a further example, role change raises urgent questions about who should be held responsible for co-created decisions. With patients and stakeholders being encouraged to take on additional responsibilities and accountabilities [15], it remains to be seen how far they will be ready, willing, and able to respond [9, 16].</p>

  <h2>Challenging Hierarchies of Power in Medicine</h2>
  <p>Behind concerns about role changes are questions about the potential redistribution of power in co-creative health care systems. For good or ill, power hierarchies operate between professionals, patients and stakeholders, and also within these groups. While co-creation has the potential to positively disrupt hierarchies and asymmetries between and within groups that have been viewed as unwanted and oppressive, unless issues of power are explicitly addressed, co-creation could operate to reinforce existing power relations [17]. This is a particular risk when the language of co-production or co-creation is used in relatively superficial ways and disguises a situation in which one group has substantially more say than another, just as the rhetoric of compliance seems to endorse uncritical prescribing practices [18].</p>

  <p>An effective redistribution of power will depend upon the extent to which issues of power are openly discussed by those involved in the co-creative process. The continuous possibility of disagreement and friction requires a culture of open and authentic deliberation wherein roles, relationships, and procedures are discussed by all those involved, who, as we have mentioned above, come together to find a degree of convergence about the values and agendas of care. A critical dilemma this raises for medical professionals is how to manage the ceding of control. Clinicians could see co-creation either as a threat or as an opportunity to replace paternalism with mutual trust [19]—the long sought-after goal of the patient-centered movement. The potential for clinicians to act as guides for, and partners with, patients navigating the economic and political agendas of co-creative heath systems could thereby expand—rather than constrict—their professional influence in very profound ways.</p>

  <h2>Challenges of Equity and Justice</h2>
  <p>If health care systems are to become genuinely co-creative, attention must be paid to who has opportunities to participate—in both decision making and actions—and on what terms [20]. By introducing new roles, partnerships, and collaborative models, co-creation offers the opportunity to proactively engage patients and other stakeholders who typically have been marginalized within clinical settings. Questions must be asked about whose voices are heard and whose are not, and which views are considered important and which are not. Negotiating the processes of participation and representation will therefore be a key challenge for those seeking to foster co-creative systems. Approaches to system evaluation will be needed that balance the diverse views and interests of multiple agents and groups, to avoid, for example, situations in which customer satisfaction or efficiency eclipses competing concerns for public health or patient safety. Finding a balance might be difficult, especially when some interests are deemed to be of marginal value or in cases in which disagreement is founded on entrenched political or cultural opposition (as may be the case with the provision of abortion services or the extension of health care services to the uninsured). Here, consideration of the ways and extent to which co-creative health systems can be made to support health equity and social justice will be fundamental to their success. For example, leaders could establish deliberative mechanisms by which patients, health professionals, and stakeholders can discuss and review the norms and principles that will govern and sustain co-creative health systems.</p>

  <h2>Co-Creation: Transforming Health Care?</h2>
  <p>Co-creation provides an opportunity to take stock and consider the possibilities for transforming health care systems by bringing together citizens, professionals, organizations, and institutions to renegotiate key values and relationships. While the opportunities for change are significant, ambitions for co-creation must be assessed in light of what is practically and politically achievable and mindful of ethical dilemmas. However, for better or worse, co-creation offers the chance for clinicians to reconsider the purposes of medicine and for patients and other stakeholders to have their voices heard and respected. Co-creation therefore provides a platform for understanding medicine in far broader terms than at present, enabling the social dimensions of health and the long-standing inequalities and inadequacies of health care systems to be illuminated and transformed. This is certainly not a risk-free endeavor. If it is to be a success, co-creation will require the rebalancing and renegotiation of multiple roles and relationships and the promotion of more complex forms of coordination and collaboration. The risks and challenges are significant, but so, too, are the potential rewards.</p>
{% endblock %}

{% block pageContent_footer %}
  {% include "@molecules/tags-list.twig" %}
  {% include "@molecules/references.twig" %}
  {% include "@organisms/article-footer.twig" %}
  {% set authors = article_authors %}
  {% include "@molecules/author-information.twig" %}
{% endblock %}

{% block sidebar_top %}
  {% include "@molecules/rail-form.twig" %}
  {% include "@molecules/rail-cta.twig" %}
  {% include "@organisms/related-articles.twig" %}
{% endblock %}

{% block footer %}
  {% include "@organisms/article-issue-footer.twig" %}
  {% include '@organisms/footer.twig' %}
{% endblock %}
