{% extends '@templates/offset-center.twig' %}
{% block header %}
  {% include '@organisms/header.twig' %}
  {% include '@atoms/page-hero.twig' with {'page_hero' :{'image_id': '2'}} %}
{% endblock %}

{% block pageContent_header %}
  {% include '@molecules/issue-header.twig' %}
{% endblock %}

{% block pageContent %}
  
  {# Issue Articles here #}
  <ul class="joe__list--issue">
    {% for article in articles %}
    <li>
      {% set teaser = article %}
      {% include '@molecules/article-teaser.twig' %}
    </li>
    {% endfor %}
  </ul>
  
  {% include '@organisms/poll.twig' %}
  
{% endblock %}

{% block footer %} 
  {% include '@organisms/related-issues.twig' %}
  {% include '@organisms/footer.twig' %}
{% endblock %}
